logs/rollback/IngrNpMXh43vBsgF-2026-05-05T06-54-38-454Z.json
{
  "updatedAt": "2026-05-01T16:17:55.636Z",
  "createdAt": "2026-04-21T19:26:11.417Z",
  "id": "IngrNpMXh43vBsgF",
  "name": "Trading: MacroAgent (Phase 1)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "schedule",
      "name": "Every 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      }
    },
    {
      "id": "fetch-events",
      "name": "Claim pending macro events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "TradingPostgres1",
          "name": "Trading Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE events SET status='processing'\n                WHERE id IN (\n                    SELECT id FROM events\n                    WHERE type='macro' AND status='pending'\n                    ORDER BY ts ASC\n                    LIMIT 1\n                    FOR UPDATE SKIP LOCKED\n                )\n                RETURNING id AS event_id, ts, source, instrument, payload;",
        "options": {}
      }
    },
    {
      "id": "build-query",
      "name": "Build RAG query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst ev = $json;\nconst p = ev.payload || {};\nconst q = [\n  'macro regime shift',\n  p.regime_new || p.regime || '',\n  p.regime_prev ? 'from ' + p.regime_prev : '',\n  ev.instrument || '',\n  Object.keys(p).filter(k => /signal|trend|vol|rate/i.test(k)).map(k => k + ' ' + p[k]).join(' ')\n].filter(Boolean).join(' ').trim();\nreturn { json: { ...ev, rag_query: q.slice(0, 500) } };\n"
      }
    },
    {
      "id": "embed",
      "name": "Gemini Embed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"models/gemini-embedding-001\", \"content\": {\"parts\":[{\"text\": {{ JSON.stringify($json.rag_query) }} }]}, \"outputDimensionality\": 768, \"taskType\": \"RETRIEVAL_QUERY\" }",
        "options": {
          "timeout": 20000
        },
        "method": "POST"
      }
    },
    {
      "id": "vec-search",
      "name": "Vector Search Knowledge",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "TradingPostgres1",
          "name": "Trading Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT event_id, event_instrument, event_payload, book_slug, chunk_idx, title, content, score FROM (\n    SELECT '{{ $('Build RAG query').first().json.event_id }}'::uuid AS event_id,\n           '{{ $('Build RAG query').first().json.instrument || '' }}' AS event_instrument,\n           '{{ JSON.stringify($('Build RAG query').first().json.payload) }}'::jsonb AS event_payload\n) ev\nCROSS JOIN LATERAL search_knowledge(('[' || '{{ $json.embedding.values.join(',') }}' || ']')::vector, 3);",
        "options": {}
      }
    },
    {
      "id": "build-prompt",
      "name": "Build Gemini Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst event = $('Build RAG query').first().json;\nconst regime = $('Fetch regime state').first()?.json || null;\nconst fredRowsRaw = $('Fetch FRED indicators').all().map(i => i.json);\nconst fredMap = {};\nfor (const r of fredRowsRaw) if (r?.indicator && !fredMap[r.indicator]) fredMap[r.indicator] = r;\nconst fredRows = Object.values(fredMap);\nconst chunks = items.map(i => i.json).filter(c => c.content);\n\nconst contextBlocks = chunks.slice(0, 3).map((c, i) =>\n  `[${i + 1}] ${c.book_slug}/${c.chunk_idx} (score=${Number(c.score).toFixed(2)})\n${c.content}`\n).join('\\n\\n---\\n\\n');\n\nconst systemPrompt = `You are MacroAgent, a specialist trading analyst. Input: a macro regime event + CURRENT market state + FRED indicators. Output: ONE structured trade signal JSON — or {\"skip\": true, \"reason\": \"...\"} if no actionable setup.\n\nApply:\n- Elder triple screen: HTF trend → MTF oscillator → LTF entry\n- Wyckoff phases (accumulation/distribution/markup/markdown)\n- Van Tharp R-multiple (1R stop, 2R+ target)\n- Taleb antifragility: reject capped-upside + open-downside setups\n\nMANDATORY CHECKS:\n1. If event payload reflects regime that has ALREADY reversed vs current state (e.g., VIX spike resolved, regime back to normal) → skip with reason \"regime reverted: event was X, current is Y\"\n2. If event is older than 72 hours AND current state shows no confirmation → skip with reason \"stale event, no current confirmation\"\n3. If FRED indicators contradict event (e.g., event says risk-off but yield curve steepening + VIX low) → skip with reason \"FRED contradicts event: [cite indicators]\"\n\nSignal schema — return ONLY this JSON, no commentary:\n{\n  \"instrument\": \"SPX|DXY|XAUUSD|BTCUSDT|US10Y|...\",\n  \"timeframe\": \"4H|1D|1W\",\n  \"bias\": \"long|short|flat\",\n  \"confidence\": 0.0-1.0,\n  \"entry\": number|null,\n  \"sl\": number|null,\n  \"tp\": [number]|null,\n  \"r_multiple\": number|null,\n  \"rationale\": \"one sentence\",\n  \"knowledge_refs\": [\"book_slug/chunk_idx\", ...],\n  \"strategy_tag\": \"wyckoff-confluence|elder-triple|regime-divergence|fred-confluence|...\"\n}\nOr: {\"skip\": true, \"reason\": \"...\"}`;\n\nconst regimeBlock = regime ? `CURRENT MARKET STATE (as of ${regime.regime_ts}):\nmacro_regime: ${regime.macro_regime}\nrisk_sentiment: ${regime.risk_sentiment}\nfed_phase: ${regime.fed_phase}\nvix_level: ${regime.vix_level}\ndxy_trend: ${regime.dxy_trend}\nyield_curve_spread: ${regime.yield_curve_spread}\nconfidence: ${regime.regime_confidence}\nreasoning: ${regime.reasoning}` : 'CURRENT MARKET STATE: unavailable';\n\nconst fredBlock = fredRows.length\n  ? 'FRED INDICATORS (latest):\\n' + fredRows.map(r =>\n      `  ${r.indicator}: ${r.value} (prev ${r.previous_value}, Δ ${r.change_pct}%) @ ${r.indicator_ts}`\n    ).join('\\n')\n  : 'FRED INDICATORS: unavailable';\n\nconst userPrompt = `MACRO EVENT (historical trigger)\nsource: ${event.source}\nevent_ts: ${event.ts}\ninstrument: ${event.instrument || 'n/a'}\npayload: ${JSON.stringify(event.payload)}\n\n${regimeBlock}\n\n${fredBlock}\n\nRETRIEVED KNOWLEDGE\n${contextBlocks}\n\nCompare event vs current state AND FRED indicators. If conditions have reverted, event is stale, or FRED contradicts — skip. Otherwise output the signal JSON.`;\n\nreturn [{\n  json: {\n    event_id: event.event_id,\n    event_instrument: event.instrument,\n    event_payload: event.payload,\n    current_regime: regime,\n    fred_indicators: fredRows,\n    systemPrompt,\n    userPrompt,\n    knowledge_refs: chunks.slice(0, 3).map(c => `${c.book_slug}/${c.chunk_idx}`)\n  }\n}];\n"
      }
    },
    {
      "id": "generate",
      "name": "Gemini Generate Signal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        0
      ],
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"contents\": [{\"role\":\"user\",\"parts\":[{\"text\": {{ JSON.stringify($json.userPrompt) }} }]}], \"systemInstruction\": {\"parts\":[{\"text\": {{ JSON.stringify($json.systemPrompt) }} }]}, \"generationConfig\": {\"temperature\": 0.3, \"maxOutputTokens\": 1500, \"responseMimeType\": \"application/json\", \"thinkingConfig\": {\"thinkingBudget\": 0}} }",
        "options": {
          "timeout": 30000
        },
        "method": "POST"
      }
    },
    {
      "id": "merge-ctx",
      "name": "Attach context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst ctx = $('Build Gemini Prompt').first().json;\nconst resp = items[0].json;\nreturn [{ json: { ...resp, event_id: ctx.event_id, event_payload: ctx.event_payload, knowledge_refs: ctx.knowledge_refs } }];\n"
      }
    },
    {
      "id": "parse",
      "name": "Parse Signal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst resp = items[0].json;\nconst ev = resp.event_payload || {};\nlet text = '';\ntry {\n  text = resp.candidates[0].content.parts[0].text;\n} catch (e) {\n  return [{ json: { skip: true, reason: 'no candidates', event_id: resp.event_id } }];\n}\n\ntext = text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim();\n\nlet signal;\ntry { signal = JSON.parse(text); }\ncatch (e) { return [{ json: { skip: true, reason: 'parse fail: ' + text.slice(0,100), event_id: resp.event_id } }]; }\n\nif (signal.skip) {\n  return [{ json: { skip: true, reason: signal.reason, event_id: resp.event_id } }];\n}\n\nconst required = ['instrument', 'timeframe', 'bias', 'confidence'];\nfor (const k of required) {\n  if (!(k in signal)) return [{ json: { skip: true, reason: 'missing ' + k, event_id: resp.event_id } }];\n}\n\nconst effective_refs = (signal.knowledge_refs && signal.knowledge_refs.length ? signal.knowledge_refs : (resp.knowledge_refs || []));\n\nconst biasRu = signal.bias === 'long' ? 'ЛОНГ' : signal.bias === 'short' ? 'ШОРТ' : 'НЕЙТРАЛЬНО';\nconst biasEmoji = signal.bias === 'long' ? '\\ud83d\\udfe2' : signal.bias === 'short' ? '\\ud83d\\udd34' : '\\u26aa';\nconst conf = Number(signal.confidence);\nconst confBar = '\\u2588'.repeat(Math.round(conf * 5)) + '\\u2591'.repeat(5 - Math.round(conf * 5));\n\nlet action = '';\nif (signal.bias === 'long') {\n  action = signal.entry ? `Рассмотреть покупку от $${signal.entry}` : 'Рассмотреть покупку на текущих';\n  if (signal.sl) action += `, стоп $${signal.sl}`;\n  if (signal.tp && signal.tp.length) action += `, цели: ${signal.tp.map(t => '$' + t).join(', ')}`;\n} else if (signal.bias === 'short') {\n  action = signal.entry ? `Рассмотреть продажу от $${signal.entry}` : 'Рассмотреть продажу на текущих';\n  if (signal.sl) action += `, стоп $${signal.sl}`;\n  if (signal.tp && signal.tp.length) action += `, цели: ${signal.tp.map(t => '$' + t).join(', ')}`;\n} else {\n  action = 'Без позиции, ждать подтверждения';\n}\n\nconst tgText = `${biasEmoji} *${biasRu}* ${signal.instrument} (${signal.timeframe})\n\nУверенность: ${confBar} ${(conf * 100).toFixed(0)}%${signal.r_multiple ? '\\nR-мульт: ' + signal.r_multiple + 'R' : ''}\n\n*Почему:* ${signal.rationale || 'N/A'}\n\n*Что делать:* ${action}\n\n_Стратегия: ${signal.strategy_tag || 'macro'}_`;\n\nreturn [{\n    json: {\n      skip: false,\n    event_id: resp.event_id,\n    instrument: signal.instrument,\n    timeframe: signal.timeframe,\n    bias: signal.bias,\n    confidence: conf,\n    entry: signal.entry ?? null,\n    sl: signal.sl ?? null,\n    tp: signal.tp || null,\n    r_multiple: signal.r_multiple ?? null,\n    rationale: { macro: signal.rationale || '' },\n    knowledge_refs: effective_refs,\n    strategy_tag: signal.strategy_tag || 'macro',\n    telegram_text: tgText\n  }\n}];\n"
      }
    },
    {
      "id": "if-signal",
      "name": "Is signal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1980,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "insert-signal",
      "name": "Insert signals_v2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2200,
        -120
      ],
      "credentials": {
        "postgres": {
          "id": "TradingPostgres1",
          "name": "Trading Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO signals_v2 (instrument, timeframe, bias, confidence, entry, sl, tp, r_multiple, agents_fired, rationale, knowledge_refs, strategy_tag)\n                VALUES ('{{ $json.instrument }}',\n                        '{{ $json.timeframe }}',\n                        '{{ $json.bias }}',\n                        {{ $json.confidence }},\n                        {{ $json.entry === null ? 'NULL' : $json.entry }},\n                        {{ $json.sl === null ? 'NULL' : $json.sl }},\n                        {{ $json.tp === null ? 'NULL' : \"ARRAY[\" + $json.tp.join(',') + \"]::numeric[]\" }},\n                        {{ $json.r_multiple === null ? 'NULL' : $json.r_multiple }},\n                        ARRAY['MacroAgent']::text[],\n                        '{{ JSON.stringify($json.rationale).replace(/'/g, \"''\") }}'::jsonb,\n                        ARRAY[{{ ($json.knowledge_refs || []).map(r => \"'\" + r.replace(/'/g, \"''\") + \"'\").join(',') }}]::text[],\n                        '{{ $json.strategy_tag }}')\n                RETURNING id, ts;",
        "options": {}
      }
    },
    {
      "id": "alert",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2420,
        -120
      ],
      "credentials": {
        "telegramApi": {
          "id": "TradingTelegramBot",
          "name": "Trading Bot"
        }
      },
      "parameters": {
        "chatId": "804465999",
        "text": "={{ $('Parse Signal').first().json.telegram_text }}",
        "additionalFields": {}
      },
      "webhookId": "29c9e299-8c2c-483c-a58c-93385e61f97d"
    },
    {
      "id": "mark-processed",
      "name": "Mark event processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2640,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "TradingPostgres1",
          "name": "Trading Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE events SET status='processed', processed_at=now() WHERE id='{{ $('Parse Signal').first().json.event_id }}';",
        "options": {}
      }
    },
    {
      "id": "mark-skipped",
      "name": "Mark event skipped",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2200,
        120
      ],
      "credentials": {
        "postgres": {
          "id": "TradingPostgres1",
          "name": "Trading Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE events SET status='processed', processed_at=now(),\n                       error='skipped: {{ $json.reason.replace(/'/g, \"''\") }}'\n                WHERE id='{{ $json.event_id }}';",
        "options": {}
      }
    },
    {
      "id": "has-events-gate",
      "name": "Has events?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        330,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-ev",
              "leftValue": "={{ $json.event_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "fetch_regime",
      "name": "Fetch regime state",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1100,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "TradingPostgres1",
          "name": "Trading Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT macro_regime, risk_sentiment, fed_phase, yield_curve_spread::text AS yield_curve_spread,\n       vix_level::text AS vix_level, dxy_trend, confidence::text AS regime_confidence,\n       reasoning, timestamp::text AS regime_ts\nFROM regime_state ORDER BY timestamp DESC LIMIT 1",
        "options": {}
      }
    },
    {
      "id": "fetch_fred",
      "name": "Fetch FRED indicators",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1300,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "TradingPostgres1",
          "name": "Trading Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT ON (indicator)\n                                indicator, value::text AS value,\n                                previous_value::text AS previous_value,\n                                change_pct::text AS change_pct,\n                                timestamp::text AS indicator_ts\n                         FROM macro_indicators\n                         WHERE source='fred'\n                         ORDER BY indicator, timestamp DESC",
        "options": {}
      }
    }
  ],
  "connections": {
    "Every 5 min": {
      "main": [
        [
          {
            "node": "Claim pending macro events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim pending macro events": {
      "main": [
        [
          {
            "node": "Has events?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build RAG query": {
      "main": [
        [
          {
            "node": "Gemini Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Embed": {
      "main": [
        [
          {
            "node": "Vector Search Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Search Knowledge": {
      "main": [
        [
          {
            "node": "Fetch regime state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Prompt": {
      "main": [
        [
          {
            "node": "Gemini Generate Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Generate Signal": {
      "main": [
        [
          {
            "node": "Attach context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach context": {
      "main": [
        [
          {
            "node": "Parse Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Signal": {
      "main": [
        [
          {
            "node": "Is signal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is signal?": {
      "main": [
        [
          {
            "node": "Insert signals_v2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark event skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert signals_v2": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Alert": {
      "main": [
        [
          {
            "node": "Mark event processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has events?": {
      "main": [
        [
          {
            "node": "Build RAG query",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch regime state": {
      "main": [
        [
          {
            "node": "Fetch FRED indicators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch FRED indicators": {
      "main": [
        [
          {
            "node": "Build Gemini Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "mzrUOgpYW8OVSWGl"
  },
  "staticData": {
    "node:Every 5 min": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "7f70104b-4d1e-4c1d-8aaf-4e9c2a97ba8d",
  "activeVersionId": "7f70104b-4d1e-4c1d-8aaf-4e9c2a97ba8d",
  "versionCounter": 63,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-21T19:26:11.417Z",
      "createdAt": "2026-04-21T19:26:11.417Z",
      "role": "workflow:owner",
      "workflowId": "IngrNpMXh43vBsgF",
      "projectId": "PufDuNtXpreUjA3o",
      "project": {
        "updatedAt": "2025-12-05T21:25:37.247Z",
        "createdAt": "2025-11-04T19:43:55.674Z",
        "id": "PufDuNtXpreUjA3o",
        "name": "Maksim Parve <maksim@studiokook.ee>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "3462e3d2-f46b-4d98-acea-93ac07713bf5"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-01T16:17:55.637Z",
    "createdAt": "2026-05-01T16:17:55.637Z",
    "versionId": "7f70104b-4d1e-4c1d-8aaf-4e9c2a97ba8d",
    "workflowId": "IngrNpMXh43vBsgF",
    "nodes": [
      {
        "id": "schedule",
        "name": "Every 5 min",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 5
              }
            ]
          }
        }
      },
      {
        "id": "fetch-events",
        "name": "Claim pending macro events",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          220,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "TradingPostgres1",
            "name": "Trading Postgres"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE events SET status='processing'\n                WHERE id IN (\n                    SELECT id FROM events\n                    WHERE type='macro' AND status='pending'\n                    ORDER BY ts ASC\n                    LIMIT 1\n                    FOR UPDATE SKIP LOCKED\n                )\n                RETURNING id AS event_id, ts, source, instrument, payload;",
          "options": {}
        }
      },
      {
        "id": "build-query",
        "name": "Build RAG query",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          0
        ],
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "\nconst ev = $json;\nconst p = ev.payload || {};\nconst q = [\n  'macro regime shift',\n  p.regime_new || p.regime || '',\n  p.regime_prev ? 'from ' + p.regime_prev : '',\n  ev.instrument || '',\n  Object.keys(p).filter(k => /signal|trend|vol|rate/i.test(k)).map(k => k + ' ' + p[k]).join(' ')\n].filter(Boolean).join(' ').trim();\nreturn { json: { ...ev, rag_query: q.slice(0, 500) } };\n"
        }
      },
      {
        "id": "embed",
        "name": "Gemini Embed",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          660,
          0
        ],
        "parameters": {
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "key",
                "value": "={{ $env.GEMINI_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={ \"model\": \"models/gemini-embedding-001\", \"content\": {\"parts\":[{\"text\": {{ JSON.stringify($json.rag_query) }} }]}, \"outputDimensionality\": 768, \"taskType\": \"RETRIEVAL_QUERY\" }",
          "options": {
            "timeout": 20000
          },
          "method": "POST"
        }
      },
      {
        "id": "vec-search",
        "name": "Vector Search Knowledge",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          880,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "TradingPostgres1",
            "name": "Trading Postgres"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT event_id, event_instrument, event_payload, book_slug, chunk_idx, title, content, score FROM (\n    SELECT '{{ $('Build RAG query').first().json.event_id }}'::uuid AS event_id,\n           '{{ $('Build RAG query').first().json.instrument || '' }}' AS event_instrument,\n           '{{ JSON.stringify($('Build RAG query').first().json.payload) }}'::jsonb AS event_payload\n) ev\nCROSS JOIN LATERAL search_knowledge(('[' || '{{ $json.embedding.values.join(',') }}' || ']')::vector, 3);",
          "options": {}
        }
      },
      {
        "id": "build-prompt",
        "name": "Build Gemini Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          0
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconst event = $('Build RAG query').first().json;\nconst regime = $('Fetch regime state').first()?.json || null;\nconst fredRowsRaw = $('Fetch FRED indicators').all().map(i => i.json);\nconst fredMap = {};\nfor (const r of fredRowsRaw) if (r?.indicator && !fredMap[r.indicator]) fredMap[r.indicator] = r;\nconst fredRows = Object.values(fredMap);\nconst chunks = items.map(i => i.json).filter(c => c.content);\n\nconst contextBlocks = chunks.slice(0, 3).map((c, i) =>\n  `[${i + 1}] ${c.book_slug}/${c.chunk_idx} (score=${Number(c.score).toFixed(2)})\n${c.content}`\n).join('\\n\\n---\\n\\n');\n\nconst systemPrompt = `You are MacroAgent, a specialist trading analyst. Input: a macro regime event + CURRENT market state + FRED indicators. Output: ONE structured trade signal JSON — or {\"skip\": true, \"reason\": \"...\"} if no actionable setup.\n\nApply:\n- Elder triple screen: HTF trend → MTF oscillator → LTF entry\n- Wyckoff phases (accumulation/distribution/markup/markdown)\n- Van Tharp R-multiple (1R stop, 2R+ target)\n- Taleb antifragility: reject capped-upside + open-downside setups\n\nMANDATORY CHECKS:\n1. If event payload reflects regime that has ALREADY reversed vs current state (e.g., VIX spike resolved, regime back to normal) → skip with reason \"regime reverted: event was X, current is Y\"\n2. If event is older than 72 hours AND current state shows no confirmation → skip with reason \"stale event, no current confirmation\"\n3. If FRED indicators contradict event (e.g., event says risk-off but yield curve steepening + VIX low) → skip with reason \"FRED contradicts event: [cite indicators]\"\n\nSignal schema — return ONLY this JSON, no commentary:\n{\n  \"instrument\": \"SPX|DXY|XAUUSD|BTCUSDT|US10Y|...\",\n  \"timeframe\": \"4H|1D|1W\",\n  \"bias\": \"long|short|flat\",\n  \"confidence\": 0.0-1.0,\n  \"entry\": number|null,\n  \"sl\": number|null,\n  \"tp\": [number]|null,\n  \"r_multiple\": number|null,\n  \"rationale\": \"one sentence\",\n  \"knowledge_refs\": [\"book_slug/chunk_idx\", ...],\n  \"strategy_tag\": \"wyckoff-confluence|elder-triple|regime-divergence|fred-confluence|...\"\n}\nOr: {\"skip\": true, \"reason\": \"...\"}`;\n\nconst regimeBlock = regime ? `CURRENT MARKET STATE (as of ${regime.regime_ts}):\nmacro_regime: ${regime.macro_regime}\nrisk_sentiment: ${regime.risk_sentiment}\nfed_phase: ${regime.fed_phase}\nvix_level: ${regime.vix_level}\ndxy_trend: ${regime.dxy_trend}\nyield_curve_spread: ${regime.yield_curve_spread}\nconfidence: ${regime.regime_confidence}\nreasoning: ${regime.reasoning}` : 'CURRENT MARKET STATE: unavailable';\n\nconst fredBlock = fredRows.length\n  ? 'FRED INDICATORS (latest):\\n' + fredRows.map(r =>\n      `  ${r.indicator}: ${r.value} (prev ${r.previous_value}, Δ ${r.change_pct}%) @ ${r.indicator_ts}`\n    ).join('\\n')\n  : 'FRED INDICATORS: unavailable';\n\nconst userPrompt = `MACRO EVENT (historical trigger)\nsource: ${event.source}\nevent_ts: ${event.ts}\ninstrument: ${event.instrument || 'n/a'}\npayload: ${JSON.stringify(event.payload)}\n\n${regimeBlock}\n\n${fredBlock}\n\nRETRIEVED KNOWLEDGE\n${contextBlocks}\n\nCompare event vs current state AND FRED indicators. If conditions have reverted, event is stale, or FRED contradicts — skip. Otherwise output the signal JSON.`;\n\nreturn [{\n  json: {\n    event_id: event.event_id,\n    event_instrument: event.instrument,\n    event_payload: event.payload,\n    current_regime: regime,\n    fred_indicators: fredRows,\n    systemPrompt,\n    userPrompt,\n    knowledge_refs: chunks.slice(0, 3).map(c => `${c.book_slug}/${c.chunk_idx}`)\n  }\n}];\n"
        }
      },
      {
        "id": "generate",
        "name": "Gemini Generate Signal",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1320,
          0
        ],
        "parameters": {
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "key",
                "value": "={{ $env.GEMINI_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={ \"contents\": [{\"role\":\"user\",\"parts\":[{\"text\": {{ JSON.stringify($json.userPrompt) }} }]}], \"systemInstruction\": {\"parts\":[{\"text\": {{ JSON.stringify($json.systemPrompt) }} }]}, \"generationConfig\": {\"temperature\": 0.3, \"maxOutputTokens\": 1500, \"responseMimeType\": \"application/json\", \"thinkingConfig\": {\"thinkingBudget\": 0}} }",
          "options": {
            "timeout": 30000
          },
          "method": "POST"
        }
      },
      {
        "id": "merge-ctx",
        "name": "Attach context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1540,
          0
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconst ctx = $('Build Gemini Prompt').first().json;\nconst resp = items[0].json;\nreturn [{ json: { ...resp, event_id: ctx.event_id, event_payload: ctx.event_payload, knowledge_refs: ctx.knowledge_refs } }];\n"
        }
      },
      {
        "id": "parse",
        "name": "Parse Signal",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1760,
          0
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconst resp = items[0].json;\nconst ev = resp.event_payload || {};\nlet text = '';\ntry {\n  text = resp.candidates[0].content.parts[0].text;\n} catch (e) {\n  return [{ json: { skip: true, reason: 'no candidates', event_id: resp.event_id } }];\n}\n\ntext = text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim();\n\nlet signal;\ntry { signal = JSON.parse(text); }\ncatch (e) { return [{ json: { skip: true, reason: 'parse fail: ' + text.slice(0,100), event_id: resp.event_id } }]; }\n\nif (signal.skip) {\n  return [{ json: { skip: true, reason: signal.reason, event_id: resp.event_id } }];\n}\n\nconst required = ['instrument', 'timeframe', 'bias', 'confidence'];\nfor (const k of required) {\n  if (!(k in signal)) return [{ json: { skip: true, reason: 'missing ' + k, event_id: resp.event_id } }];\n}\n\nconst effective_refs = (signal.knowledge_refs && signal.knowledge_refs.length ? signal.knowledge_refs : (resp.knowledge_refs || []));\n\nconst biasRu = signal.bias === 'long' ? 'ЛОНГ' : signal.bias === 'short' ? 'ШОРТ' : 'НЕЙТРАЛЬНО';\nconst biasEmoji = signal.bias === 'long' ? '\\ud83d\\udfe2' : signal.bias === 'short' ? '\\ud83d\\udd34' : '\\u26aa';\nconst conf = Number(signal.confidence);\nconst confBar = '\\u2588'.repeat(Math.round(conf * 5)) + '\\u2591'.repeat(5 - Math.round(conf * 5));\n\nlet action = '';\nif (signal.bias === 'long') {\n  action = signal.entry ? `Рассмотреть покупку от $${signal.entry}` : 'Рассмотреть покупку на текущих';\n  if (signal.sl) action += `, стоп $${signal.sl}`;\n  if (signal.tp && signal.tp.length) action += `, цели: ${signal.tp.map(t => '$' + t).join(', ')}`;\n} else if (signal.bias === 'short') {\n  action = signal.entry ? `Рассмотреть продажу от $${signal.entry}` : 'Рассмотреть продажу на текущих';\n  if (signal.sl) action += `, стоп $${signal.sl}`;\n  if (signal.tp && signal.tp.length) action += `, цели: ${signal.tp.map(t => '$' + t).join(', ')}`;\n} else {\n  action = 'Без позиции, ждать подтверждения';\n}\n\nconst tgText = `${biasEmoji} *${biasRu}* ${signal.instrument} (${signal.timeframe})\n\nУверенность: ${confBar} ${(conf * 100).toFixed(0)}%${signal.r_multiple ? '\\nR-мульт: ' + signal.r_multiple + 'R' : ''}\n\n*Почему:* ${signal.rationale || 'N/A'}\n\n*Что делать:* ${action}\n\n_Стратегия: ${signal.strategy_tag || 'macro'}_`;\n\nreturn [{\n    json: {\n      skip: false,\n    event_id: resp.event_id,\n    instrument: signal.instrument,\n    timeframe: signal.timeframe,\n    bias: signal.bias,\n    confidence: conf,\n    entry: signal.entry ?? null,\n    sl: signal.sl ?? null,\n    tp: signal.tp || null,\n    r_multiple: signal.r_multiple ?? null,\n    rationale: { macro: signal.rationale || '' },\n    knowledge_refs: effective_refs,\n    strategy_tag: signal.strategy_tag || 'macro',\n    telegram_text: tgText\n  }\n}];\n"
        }
      },
      {
        "id": "if-signal",
        "name": "Is signal?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1980,
          0
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.skip }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "insert-signal",
        "name": "Insert signals_v2",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2200,
          -120
        ],
        "credentials": {
          "postgres": {
            "id": "TradingPostgres1",
            "name": "Trading Postgres"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO signals_v2 (instrument, timeframe, bias, confidence, entry, sl, tp, r_multiple, agents_fired, rationale, knowledge_refs, strategy_tag)\n                VALUES ('{{ $json.instrument }}',\n                        '{{ $json.timeframe }}',\n                        '{{ $json.bias }}',\n                        {{ $json.confidence }},\n                        {{ $json.entry === null ? 'NULL' : $json.entry }},\n                        {{ $json.sl === null ? 'NULL' : $json.sl }},\n                        {{ $json.tp === null ? 'NULL' : \"ARRAY[\" + $json.tp.join(',') + \"]::numeric[]\" }},\n                        {{ $json.r_multiple === null ? 'NULL' : $json.r_multiple }},\n                        ARRAY['MacroAgent']::text[],\n                        '{{ JSON.stringify($json.rationale).replace(/'/g, \"''\") }}'::jsonb,\n                        ARRAY[{{ ($json.knowledge_refs || []).map(r => \"'\" + r.replace(/'/g, \"''\") + \"'\").join(',') }}]::text[],\n                        '{{ $json.strategy_tag }}')\n                RETURNING id, ts;",
          "options": {}
        }
      },
      {
        "id": "alert",
        "name": "Telegram Alert",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2420,
          -120
        ],
        "credentials": {
          "telegramApi": {
            "id": "TradingTelegramBot",
            "name": "Trading Bot"
          }
        },
        "parameters": {
          "chatId": "804465999",
          "text": "={{ $('Parse Signal').first().json.telegram_text }}",
          "additionalFields": {}
        },
        "webhookId": "29c9e299-8c2c-483c-a58c-93385e61f97d"
      },
      {
        "id": "mark-processed",
        "name": "Mark event processed",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2640,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "TradingPostgres1",
            "name": "Trading Postgres"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE events SET status='processed', processed_at=now() WHERE id='{{ $('Parse Signal').first().json.event_id }}';",
          "options": {}
        }
      },
      {
        "id": "mark-skipped",
        "name": "Mark event skipped",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2200,
          120
        ],
        "credentials": {
          "postgres": {
            "id": "TradingPostgres1",
            "name": "Trading Postgres"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE events SET status='processed', processed_at=now(),\n                       error='skipped: {{ $json.reason.replace(/'/g, \"''\") }}'\n                WHERE id='{{ $json.event_id }}';",
          "options": {}
        }
      },
      {
        "id": "has-events-gate",
        "name": "Has events?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          330,
          0
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "has-ev",
                "leftValue": "={{ $json.event_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "fetch_regime",
        "name": "Fetch regime state",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1100,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "TradingPostgres1",
            "name": "Trading Postgres"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT macro_regime, risk_sentiment, fed_phase, yield_curve_spread::text AS yield_curve_spread,\n       vix_level::text AS vix_level, dxy_trend, confidence::text AS regime_confidence,\n       reasoning, timestamp::text AS regime_ts\nFROM regime_state ORDER BY timestamp DESC LIMIT 1",
          "options": {}
        }
      },
      {
        "id": "fetch_fred",
        "name": "Fetch FRED indicators",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1300,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "TradingPostgres1",
            "name": "Trading Postgres"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT DISTINCT ON (indicator)\n                                indicator, value::text AS value,\n                                previous_value::text AS previous_value,\n                                change_pct::text AS change_pct,\n                                timestamp::text AS indicator_ts\n                         FROM macro_indicators\n                         WHERE source='fred'\n                         ORDER BY indicator, timestamp DESC",
          "options": {}
        }
      }
    ],
    "connections": {
      "Every 5 min": {
        "main": [
          [
            {
              "node": "Claim pending macro events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claim pending macro events": {
        "main": [
          [
            {
              "node": "Has events?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build RAG query": {
        "main": [
          [
            {
              "node": "Gemini Embed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Embed": {
        "main": [
          [
            {
              "node": "Vector Search Knowledge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Vector Search Knowledge": {
        "main": [
          [
            {
              "node": "Fetch regime state",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Gemini Prompt": {
        "main": [
          [
            {
              "node": "Gemini Generate Signal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Generate Signal": {
        "main": [
          [
            {
              "node": "Attach context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Attach context": {
        "main": [
          [
            {
              "node": "Parse Signal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Signal": {
        "main": [
          [
            {
              "node": "Is signal?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is signal?": {
        "main": [
          [
            {
              "node": "Insert signals_v2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Mark event skipped",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert signals_v2": {
        "main": [
          [
            {
              "node": "Telegram Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Alert": {
        "main": [
          [
            {
              "node": "Mark event processed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has events?": {
        "main": [
          [
            {
              "node": "Build RAG query",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Fetch regime state": {
        "main": [
          [
            {
              "node": "Fetch FRED indicators",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch FRED indicators": {
        "main": [
          [
            {
              "node": "Build Gemini Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Maksim Parve",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-01T16:17:55.672Z",
        "id": 957,
        "workflowId": "IngrNpMXh43vBsgF",
        "versionId": "7f70104b-4d1e-4c1d-8aaf-4e9c2a97ba8d",
        "event": "deactivated",
        "userId": "3462e3d2-f46b-4d98-acea-93ac07713bf5"
      },
      {
        "createdAt": "2026-05-01T16:17:55.685Z",
        "id": 958,
        "workflowId": "IngrNpMXh43vBsgF",
        "versionId": "7f70104b-4d1e-4c1d-8aaf-4e9c2a97ba8d",
        "event": "activated",
        "userId": "3462e3d2-f46b-4d98-acea-93ac07713bf5"
      }
    ]
  }
}