logs/rollback/s7jkfnXTbHAGJkuf-pre-loop-20260505-193649.json
{"updatedAt":"2026-05-05T06:45:13.371Z","createdAt":"2026-04-11T12:41:38.401Z","id":"s7jkfnXTbHAGJkuf","name":"Trading: TradingView Webhook","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"trading-webhook-51209d6a","options":{}},"id":"webhook-tv","name":"TradingView Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"trading-webhook-51209d6a"},{"id":"parse-signal","name":"Parse Signal","type":"n8n-nodes-base.code","typeVersion":2,"position":[300,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"var body = $input.first().json.body || $input.first().json;\nvar ticker = body.ticker || body.symbol || \"UNKNOWN\";\nvar rawAction = body.action || (body.strategy && body.strategy.action) || \"info\";\nvar action = rawAction.toLowerCase();\nvar price = parseFloat(body.price || body.close || 0);\nvar strategy = body.strategy_name || body.alert_name || body.strategy || \"manual\";\nif (typeof strategy !== \"string\") strategy = JSON.stringify(strategy);\nvar quantity = parseFloat(body.quantity || body.contracts || body.size || 0) || null;\nvar sl = body.sl ? parseFloat(body.sl) : null;\nvar tp = body.tp ? parseFloat(body.tp) : null;\nvar now = new Date().toISOString();\n\nvar direction = null;\nvar normalizedAction = \"info\";\nif (action === \"buy\" || action === \"long\") {\n  normalizedAction = \"open\";\n  direction = \"long\";\n} else if (action === \"sell\" || action === \"short\") {\n  normalizedAction = \"open\";\n  direction = \"short\";\n} else if (action === \"exit\" || action === \"close\") {\n  normalizedAction = \"close\";\n}\n\nreturn [{json: {\n  ticker: ticker.toUpperCase(),\n  action: normalizedAction,\n  direction: direction,\n  price: price,\n  quantity: quantity,\n  stop_loss: sl,\n  take_profit: tp,\n  strategy: strategy,\n  raw_payload: body,\n  received_at: now\n}}];"}},{"id":"save-signal","name":"Save Signal","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[600,-200],"credentials":{"postgres":{"id":"TradingPostgres1","name":"Trading Postgres"}},"parameters":{"resource":"database","operation":"executeQuery","query":"INSERT INTO tv_signals (ticker, action, price, strategy, raw_payload, received_at) VALUES ($1,$2,$3,$4,$5::jsonb,$6);","options":{"queryReplacement":"={{ [$json.ticker, $json.action, $json.price, $json.strategy, JSON.stringify($json.raw_payload), $json.received_at] }}"}}},{"id":"action-router","name":"Route Action","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[600,100],"parameters":{"rules":{"values":[{"outputKey":"open","conditions":{"options":{"caseSensitive":true},"combinator":"and","conditions":[{"leftValue":"={{ $json.action }}","rightValue":"open","operator":{"type":"string","operation":"equals"}}]}},{"outputKey":"close","conditions":{"options":{"caseSensitive":true},"combinator":"and","conditions":[{"leftValue":"={{ $json.action }}","rightValue":"close","operator":{"type":"string","operation":"equals"}}]}}]},"options":{"fallbackOutput":"extra"}}},{"id":"open-trade","name":"Open Trade","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[900,0],"credentials":{"postgres":{"id":"TradingPostgres1","name":"Trading Postgres"}},"parameters":{"resource":"database","operation":"executeQuery","query":"INSERT INTO trades (symbol, direction, entry_price, stop_loss, take_profit, size, setup_reason, status) VALUES ($1,$2,$3,$4,$5,$6,$7,'open') RETURNING id, symbol, direction, entry_price, stop_loss, take_profit;","options":{"queryReplacement":"={{ [$json.ticker, $json.direction, $json.price, $json.stop_loss, $json.take_profit, $json.quantity, $json.strategy] }}"}}},{"id":"close-trade","name":"Close Trade","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[900,200],"credentials":{"postgres":{"id":"TradingPostgres1","name":"Trading Postgres"}},"parameters":{"resource":"database","operation":"executeQuery","query":"UPDATE trades SET\n  exit_price = $1,\n  status = 'closed',\n  closed_at = NOW(),\n  pnl_usd = CASE\n    WHEN direction = 'long' THEN ($1 - entry_price) * COALESCE(size, 1)\n    ELSE (entry_price - $1) * COALESCE(size, 1)\n  END,\n  pnl_r = CASE\n    WHEN stop_loss IS NOT NULL AND entry_price != stop_loss THEN\n      CASE WHEN direction = 'long' THEN ($1 - entry_price) / ABS(entry_price - stop_loss)\n           ELSE (entry_price - $1) / ABS(entry_price - stop_loss) END\n    END\nWHERE symbol = $2 AND status = 'open'\n  AND id = (SELECT id FROM trades WHERE symbol = $2 AND status = 'open' ORDER BY opened_at DESC LIMIT 1)\nRETURNING id, symbol, direction, entry_price, exit_price, pnl_usd, pnl_r;","options":{"queryReplacement":"={{ [$json.price, $json.ticker] }}"}}},{"id":"tg-open","name":"Notify Open","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1200,0],"credentials":{"telegramApi":{"id":"TradingTelegramBot","name":"Trading Bot"}},"parameters":{"chatId":"804465999","text":"={{ '\\u{1F4E1} Auto-Trade Opened\\n\\n' + ($json.direction === 'long' ? '\\u{1F7E2} LONG' : '\\u{1F534} SHORT') + ' ' + $json.symbol + '\\n\\u{1F4B0} Entry: $' + $json.entry_price + ($json.stop_loss ? '\\n\\u{1F6D1} SL: $' + $json.stop_loss : '') + ($json.take_profit ? '\\n\\u{1F3AF} TP: $' + $json.take_profit : '') + '\\n\\u{1F194} Trade #' + $json.id }}","additionalFields":{"appendAttribution":false}},"webhookId":"53614e5c-9bed-48f5-939d-e59466857970"},{"id":"tg-close","name":"Notify Close","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1200,200],"credentials":{"telegramApi":{"id":"TradingTelegramBot","name":"Trading Bot"}},"parameters":{"chatId":"804465999","text":"={{ '\\u{1F3C1} Auto-Trade Closed\\n\\n' + $json.symbol + '\\n\\u{1F4B0} ' + $json.entry_price + ' \\u2192 ' + $json.exit_price + '\\n' + (Number($json.pnl_usd) > 0 ? '\\u2705' : '\\u274C') + ' P&L: $' + $json.pnl_usd + ($json.pnl_r ? ' (' + $json.pnl_r + 'R)' : '') + '\\n\\u{1F194} Trade #' + $json.id }}","additionalFields":{"appendAttribution":false}},"webhookId":"93b8fef1-7cda-43bf-b410-9ccc5b19e49a"},{"id":"tg-info","name":"Notify Info","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[900,400],"credentials":{"telegramApi":{"id":"TradingTelegramBot","name":"Trading Bot"}},"parameters":{"chatId":"804465999","text":"={{ '\\u{1F4E1} TV Signal\\n\\n\\u26AA ' + $json.ticker + '\\n\\u{1F4B0} $' + $json.price + '\\n\\u{1F4CA} ' + $json.strategy + '\\n\\u{1F550} ' + $json.received_at }}","additionalFields":{"appendAttribution":false}},"webhookId":"254d865c-4e74-4ab2-ba09-8438d5d40559"},{"id":"emit-technical-event","name":"Emit Technical Event","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[900,600],"credentials":{"postgres":{"id":"TradingPostgres1","name":"Trading Postgres"}},"parameters":{"operation":"executeQuery","query":"INSERT INTO events (type, source, instrument, payload)\nVALUES ('technical', 'wf4-tv', '{{ $json.ticker }}',\n        jsonb_build_object(\n            'ticker',     '{{ $json.ticker }}',\n            'action',     '{{ $json.action }}',\n            'direction',  {{ $json.direction === null ? 'NULL' : \"'\" + $json.direction + \"'\" }},\n            'price',      {{ $json.price || 'NULL' }},\n            'strategy',   '{{ ($json.strategy || \"\").toString().replace(/'/g, \"''\") }}',\n            'stop_loss',  {{ $json.stop_loss === null ? 'NULL' : $json.stop_loss }},\n            'take_profit', {{ $json.take_profit === null ? 'NULL' : $json.take_profit }},\n            'received_at', '{{ $json.received_at }}'\n        ))\nRETURNING id;","options":{}}}],"connections":{"TradingView Webhook":{"main":[[{"node":"Parse Signal","type":"main","index":0}]]},"Parse Signal":{"main":[[{"node":"Save Signal","type":"main","index":0},{"node":"Route Action","type":"main","index":0},{"node":"Emit Technical Event","type":"main","index":0}]]},"Route Action":{"main":[[{"node":"Open Trade","type":"main","index":0}],[{"node":"Close Trade","type":"main","index":0}],[{"node":"Notify Info","type":"main","index":0}]]},"Open Trade":{"main":[[{"node":"Notify Open","type":"main","index":0}]]},"Close Trade":{"main":[[{"node":"Notify Close","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"mzrUOgpYW8OVSWGl"},"staticData":null,"meta":null,"pinData":null,"versionId":"4be1edbf-49f8-414f-bbeb-42d555d20910","activeVersionId":"4be1edbf-49f8-414f-bbeb-42d555d20910","versionCounter":45,"triggerCount":1,"shared":[{"updatedAt":"2026-04-11T12:41:38.401Z","createdAt":"2026-04-11T12:41:38.401Z","role":"workflow:owner","workflowId":"s7jkfnXTbHAGJkuf","projectId":"PufDuNtXpreUjA3o","project":{"updatedAt":"2025-12-05T21:25:37.247Z","createdAt":"2025-11-04T19:43:55.674Z","id":"PufDuNtXpreUjA3o","name":"Maksim Parve <maksim@studiokook.ee>","type":"personal","icon":null,"description":null,"creatorId":"3462e3d2-f46b-4d98-acea-93ac07713bf5"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-05T06:45:13.373Z","createdAt":"2026-05-05T06:45:13.373Z","versionId":"4be1edbf-49f8-414f-bbeb-42d555d20910","workflowId":"s7jkfnXTbHAGJkuf","nodes":[{"parameters":{"httpMethod":"POST","path":"trading-webhook-51209d6a","options":{}},"id":"webhook-tv","name":"TradingView Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"trading-webhook-51209d6a"},{"id":"parse-signal","name":"Parse Signal","type":"n8n-nodes-base.code","typeVersion":2,"position":[300,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"var body = $input.first().json.body || $input.first().json;\nvar ticker = body.ticker || body.symbol || \"UNKNOWN\";\nvar rawAction = body.action || (body.strategy && body.strategy.action) || \"info\";\nvar action = rawAction.toLowerCase();\nvar price = parseFloat(body.price || body.close || 0);\nvar strategy = body.strategy_name || body.alert_name || body.strategy || \"manual\";\nif (typeof strategy !== \"string\") strategy = JSON.stringify(strategy);\nvar quantity = parseFloat(body.quantity || body.contracts || body.size || 0) || null;\nvar sl = body.sl ? parseFloat(body.sl) : null;\nvar tp = body.tp ? parseFloat(body.tp) : null;\nvar now = new Date().toISOString();\n\nvar direction = null;\nvar normalizedAction = \"info\";\nif (action === \"buy\" || action === \"long\") {\n  normalizedAction = \"open\";\n  direction = \"long\";\n} else if (action === \"sell\" || action === \"short\") {\n  normalizedAction = \"open\";\n  direction = \"short\";\n} else if (action === \"exit\" || action === \"close\") {\n  normalizedAction = \"close\";\n}\n\nreturn [{json: {\n  ticker: ticker.toUpperCase(),\n  action: normalizedAction,\n  direction: direction,\n  price: price,\n  quantity: quantity,\n  stop_loss: sl,\n  take_profit: tp,\n  strategy: strategy,\n  raw_payload: body,\n  received_at: now\n}}];"}},{"id":"save-signal","name":"Save Signal","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[600,-200],"credentials":{"postgres":{"id":"TradingPostgres1","name":"Trading Postgres"}},"parameters":{"resource":"database","operation":"executeQuery","query":"INSERT INTO tv_signals (ticker, action, price, strategy, raw_payload, received_at) VALUES ($1,$2,$3,$4,$5::jsonb,$6);","options":{"queryReplacement":"={{ [$json.ticker, $json.action, $json.price, $json.strategy, JSON.stringify($json.raw_payload), $json.received_at] }}"}}},{"id":"action-router","name":"Route Action","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[600,100],"parameters":{"rules":{"values":[{"outputKey":"open","conditions":{"options":{"caseSensitive":true},"combinator":"and","conditions":[{"leftValue":"={{ $json.action }}","rightValue":"open","operator":{"type":"string","operation":"equals"}}]}},{"outputKey":"close","conditions":{"options":{"caseSensitive":true},"combinator":"and","conditions":[{"leftValue":"={{ $json.action }}","rightValue":"close","operator":{"type":"string","operation":"equals"}}]}}]},"options":{"fallbackOutput":"extra"}}},{"id":"open-trade","name":"Open Trade","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[900,0],"credentials":{"postgres":{"id":"TradingPostgres1","name":"Trading Postgres"}},"parameters":{"resource":"database","operation":"executeQuery","query":"INSERT INTO trades (symbol, direction, entry_price, stop_loss, take_profit, size, setup_reason, status) VALUES ($1,$2,$3,$4,$5,$6,$7,'open') RETURNING id, symbol, direction, entry_price, stop_loss, take_profit;","options":{"queryReplacement":"={{ [$json.ticker, $json.direction, $json.price, $json.stop_loss, $json.take_profit, $json.quantity, $json.strategy] }}"}}},{"id":"close-trade","name":"Close Trade","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[900,200],"credentials":{"postgres":{"id":"TradingPostgres1","name":"Trading Postgres"}},"parameters":{"resource":"database","operation":"executeQuery","query":"UPDATE trades SET\n  exit_price = $1,\n  status = 'closed',\n  closed_at = NOW(),\n  pnl_usd = CASE\n    WHEN direction = 'long' THEN ($1 - entry_price) * COALESCE(size, 1)\n    ELSE (entry_price - $1) * COALESCE(size, 1)\n  END,\n  pnl_r = CASE\n    WHEN stop_loss IS NOT NULL AND entry_price != stop_loss THEN\n      CASE WHEN direction = 'long' THEN ($1 - entry_price) / ABS(entry_price - stop_loss)\n           ELSE (entry_price - $1) / ABS(entry_price - stop_loss) END\n    END\nWHERE symbol = $2 AND status = 'open'\n  AND id = (SELECT id FROM trades WHERE symbol = $2 AND status = 'open' ORDER BY opened_at DESC LIMIT 1)\nRETURNING id, symbol, direction, entry_price, exit_price, pnl_usd, pnl_r;","options":{"queryReplacement":"={{ [$json.price, $json.ticker] }}"}}},{"id":"tg-open","name":"Notify Open","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1200,0],"credentials":{"telegramApi":{"id":"TradingTelegramBot","name":"Trading Bot"}},"parameters":{"chatId":"804465999","text":"={{ '\\u{1F4E1} Auto-Trade Opened\\n\\n' + ($json.direction === 'long' ? '\\u{1F7E2} LONG' : '\\u{1F534} SHORT') + ' ' + $json.symbol + '\\n\\u{1F4B0} Entry: $' + $json.entry_price + ($json.stop_loss ? '\\n\\u{1F6D1} SL: $' + $json.stop_loss : '') + ($json.take_profit ? '\\n\\u{1F3AF} TP: $' + $json.take_profit : '') + '\\n\\u{1F194} Trade #' + $json.id }}","additionalFields":{"appendAttribution":false}},"webhookId":"53614e5c-9bed-48f5-939d-e59466857970"},{"id":"tg-close","name":"Notify Close","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1200,200],"credentials":{"telegramApi":{"id":"TradingTelegramBot","name":"Trading Bot"}},"parameters":{"chatId":"804465999","text":"={{ '\\u{1F3C1} Auto-Trade Closed\\n\\n' + $json.symbol + '\\n\\u{1F4B0} ' + $json.entry_price + ' \\u2192 ' + $json.exit_price + '\\n' + (Number($json.pnl_usd) > 0 ? '\\u2705' : '\\u274C') + ' P&L: $' + $json.pnl_usd + ($json.pnl_r ? ' (' + $json.pnl_r + 'R)' : '') + '\\n\\u{1F194} Trade #' + $json.id }}","additionalFields":{"appendAttribution":false}},"webhookId":"93b8fef1-7cda-43bf-b410-9ccc5b19e49a"},{"id":"tg-info","name":"Notify Info","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[900,400],"credentials":{"telegramApi":{"id":"TradingTelegramBot","name":"Trading Bot"}},"parameters":{"chatId":"804465999","text":"={{ '\\u{1F4E1} TV Signal\\n\\n\\u26AA ' + $json.ticker + '\\n\\u{1F4B0} $' + $json.price + '\\n\\u{1F4CA} ' + $json.strategy + '\\n\\u{1F550} ' + $json.received_at }}","additionalFields":{"appendAttribution":false}},"webhookId":"254d865c-4e74-4ab2-ba09-8438d5d40559"},{"id":"emit-technical-event","name":"Emit Technical Event","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[900,600],"credentials":{"postgres":{"id":"TradingPostgres1","name":"Trading Postgres"}},"parameters":{"operation":"executeQuery","query":"INSERT INTO events (type, source, instrument, payload)\nVALUES ('technical', 'wf4-tv', '{{ $json.ticker }}',\n        jsonb_build_object(\n            'ticker',     '{{ $json.ticker }}',\n            'action',     '{{ $json.action }}',\n            'direction',  {{ $json.direction === null ? 'NULL' : \"'\" + $json.direction + \"'\" }},\n            'price',      {{ $json.price || 'NULL' }},\n            'strategy',   '{{ ($json.strategy || \"\").toString().replace(/'/g, \"''\") }}',\n            'stop_loss',  {{ $json.stop_loss === null ? 'NULL' : $json.stop_loss }},\n            'take_profit', {{ $json.take_profit === null ? 'NULL' : $json.take_profit }},\n            'received_at', '{{ $json.received_at }}'\n        ))\nRETURNING id;","options":{}}}],"connections":{"TradingView Webhook":{"main":[[{"node":"Parse Signal","type":"main","index":0}]]},"Parse Signal":{"main":[[{"node":"Save Signal","type":"main","index":0},{"node":"Route Action","type":"main","index":0},{"node":"Emit Technical Event","type":"main","index":0}]]},"Route Action":{"main":[[{"node":"Open Trade","type":"main","index":0}],[{"node":"Close Trade","type":"main","index":0}],[{"node":"Notify Info","type":"main","index":0}]]},"Open Trade":{"main":[[{"node":"Notify Open","type":"main","index":0}]]},"Close Trade":{"main":[[{"node":"Notify Close","type":"main","index":0}]]}},"authors":"Maksim Parve","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-05T06:45:13.404Z","id":1091,"workflowId":"s7jkfnXTbHAGJkuf","versionId":"4be1edbf-49f8-414f-bbeb-42d555d20910","event":"deactivated","userId":"3462e3d2-f46b-4d98-acea-93ac07713bf5"},{"createdAt":"2026-05-05T06:45:13.416Z","id":1092,"workflowId":"s7jkfnXTbHAGJkuf","versionId":"4be1edbf-49f8-414f-bbeb-42d555d20910","event":"activated","userId":"3462e3d2-f46b-4d98-acea-93ac07713bf5"}]}}