logs/rollback/u4l0b51U78Mna1NG-2026-05-05T06-54-38-454Z.json
{
  "updatedAt": "2026-04-25T13:05:00.184Z",
  "createdAt": "2026-04-12T13:30:16.579Z",
  "id": "u4l0b51U78Mna1NG",
  "name": "Trading: Geopolitical Monitor",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */2 * * *"
            }
          ]
        }
      },
      "id": "sched1",
      "name": "Every 2h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.gdeltproject.org/api/v2/doc/doc?query=(sanctions OR tariff OR \"trade war\" OR OPEC OR \"interest rate\" OR \"central bank\" OR \"military conflict\" OR embargo)&mode=artlist&maxrecords=10&format=json&timespan=2h&sourcelang=eng",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "http1",
      "name": "GDELT Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "let rawData = $input.first().json;\nlet data;\ntry {\n  const text = typeof rawData === \"string\" ? rawData : (rawData.data || JSON.stringify(rawData));\n  if (typeof text === \"string\" && text.includes(\"limit requests\")) return [{ json: { skip: true, events: [], reason: \"rate_limited\" } }];\n  data = typeof text === \"string\" ? JSON.parse(text) : rawData;\n} catch(e) {\n  return [{ json: { skip: true, events: [], reason: \"parse_error\" } }];\n}\nconst articles = data.articles || [];\nif (!articles.length) return [{ json: { skip: true, events: [] } }];\n\n// Keyword impact mapping\nconst impactMap = {\n  'sanctions': { impact: 'high', type: 'sanctions', assets: ['GOLD','OIL','USD'] },\n  'tariff': { impact: 'high', type: 'trade_war', assets: ['SPY','COPPER','USD'] },\n  'trade war': { impact: 'high', type: 'trade_war', assets: ['SPY','COPPER','GOLD'] },\n  'OPEC': { impact: 'high', type: 'policy_change', assets: ['OIL','NATGAS'] },\n  'interest rate': { impact: 'medium', type: 'policy_change', assets: ['GOLD','TLT','USD'] },\n  'central bank': { impact: 'medium', type: 'policy_change', assets: ['GOLD','TLT','SPY'] },\n  'military': { impact: 'critical', type: 'conflict', assets: ['GOLD','OIL','USD'] },\n  'embargo': { impact: 'high', type: 'sanctions', assets: ['OIL','NATGAS','GOLD'] },\n  'nuclear': { impact: 'critical', type: 'conflict', assets: ['GOLD','OIL','USD'] },\n  'invasion': { impact: 'critical', type: 'conflict', assets: ['GOLD','OIL','NATGAS'] }\n};\n\nconst events = [];\nconst seen = new Set();\n\nfor (const art of articles) {\n  const title = (art.title || '').toLowerCase();\n  if (seen.has(title)) continue;\n  seen.add(title);\n  \n  let bestMatch = { impact: 'low', type: 'general', assets: [] };\n  for (const [keyword, info] of Object.entries(impactMap)) {\n    if (title.includes(keyword.toLowerCase())) {\n      if (['critical','high'].includes(info.impact)) {\n        bestMatch = info;\n        break;\n      }\n      if (info.impact === 'medium' && bestMatch.impact === 'low') bestMatch = info;\n    }\n  }\n  \n  // Simple sentiment from tone\n  const tone = parseFloat(art.tone) || 0;\n  const sentiment = Math.round(Math.max(-100, Math.min(100, tone * 10)));\n  \n  events.push({\n    event_type: bestMatch.type,\n    description: art.title || 'No title',\n    sentiment_score: sentiment,\n    affected_assets: bestMatch.assets,\n    source: 'gdelt',\n    impact_level: bestMatch.impact\n  });\n}\n\n// Filter: only medium+ impact\nconst significant = events.filter(e => e.impact_level !== 'low');\n\nreturn [{ json: { events: significant, total: articles.length, significant_count: significant.length, skip: significant.length === 0 } }];"
      },
      "id": "code1",
      "name": "Analyze Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-events",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ]
        }
      },
      "id": "if1",
      "name": "Has Significant Events?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Analyze Events').first().json;\nconst events = data.events || [];\nconst results = [];\nfor (const e of events) {\n  results.push({ json: { ...e, affected_assets: `{${e.affected_assets.join(',')}}`, timestamp: new Date().toISOString() } });\n}\nreturn results;"
      },
      "id": "code2",
      "name": "Prepare for DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -50
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO geopolitical_events (event_type, description, sentiment_score, affected_assets, source, impact_level, timestamp) VALUES ($1, $2, $3, $4::text[], $5, $6, $7);",
        "options": {
          "queryReplacement": "={{ [$json.event_type, $json.description, $json.sentiment_score, $json.affected_assets, $json.source, $json.impact_level, $json.timestamp] }}"
        }
      },
      "id": "pg1",
      "name": "Save Events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1100,
        -50
      ],
      "credentials": {
        "postgres": {
          "id": "TradingPostgres1",
          "name": "Trading Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Analyze Events').first().json;\nconst critical = data.events.filter(e => e.impact_level === 'critical' || e.impact_level === 'high');\nif (!critical.length) return [{ json: { skip: true } }];\n\nconst lines = critical.slice(0, 5).map(e => {\n  const emoji = e.impact_level === 'critical' ? '\\ud83d\\udea8' : '\\u26a0\\ufe0f';\n  return `${emoji} *${e.event_type.toUpperCase()}*\\n${e.description}\\nAffects: ${e.affected_assets.join(', ')} | Sentiment: ${e.sentiment_score}`;\n}).join('\\n\\n');\n\nreturn [{ json: { message: `\\ud83c\\udf0d *Geopolitical Alert*\\n\\n${lines}`, skip: false } }];"
      },
      "id": "code3",
      "name": "Format Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "alert-needed",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ]
        }
      },
      "id": "if2",
      "name": "Alert Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1320,
        100
      ]
    },
    {
      "parameters": {
        "chatId": "804465999",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "tg1",
      "name": "Send Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1540,
        50
      ],
      "credentials": {
        "telegramApi": {
          "id": "TradingTelegramBot",
          "name": "Trading Bot"
        }
      },
      "webhookId": "37541ecf-940a-4bdd-bc32-59f7dd1760bb"
    }
  ],
  "connections": {
    "Every 2h": {
      "main": [
        [
          {
            "node": "GDELT Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDELT Events": {
      "main": [
        [
          {
            "node": "Analyze Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Events": {
      "main": [
        [
          {
            "node": "Has Significant Events?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Significant Events?": {
      "main": [
        [
          {
            "node": "Prepare for DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare for DB": {
      "main": [
        [
          {
            "node": "Save Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert": {
      "main": [
        [
          {
            "node": "Alert Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Needed?": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "mzrUOgpYW8OVSWGl"
  },
  "staticData": {
    "node:Every 2h": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "d3fdb36c-9ff4-49cd-a89a-2b8e7bc951c6",
  "activeVersionId": "d3fdb36c-9ff4-49cd-a89a-2b8e7bc951c6",
  "versionCounter": 41,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-12T13:30:16.579Z",
      "createdAt": "2026-04-12T13:30:16.579Z",
      "role": "workflow:owner",
      "workflowId": "u4l0b51U78Mna1NG",
      "projectId": "PufDuNtXpreUjA3o",
      "project": {
        "updatedAt": "2025-12-05T21:25:37.247Z",
        "createdAt": "2025-11-04T19:43:55.674Z",
        "id": "PufDuNtXpreUjA3o",
        "name": "Maksim Parve <maksim@studiokook.ee>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "3462e3d2-f46b-4d98-acea-93ac07713bf5"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-25T13:05:00.185Z",
    "createdAt": "2026-04-25T13:05:00.185Z",
    "versionId": "d3fdb36c-9ff4-49cd-a89a-2b8e7bc951c6",
    "workflowId": "u4l0b51U78Mna1NG",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 */2 * * *"
              }
            ]
          }
        },
        "id": "sched1",
        "name": "Every 2h",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "url": "https://api.gdeltproject.org/api/v2/doc/doc?query=(sanctions OR tariff OR \"trade war\" OR OPEC OR \"interest rate\" OR \"central bank\" OR \"military conflict\" OR embargo)&mode=artlist&maxrecords=10&format=json&timespan=2h&sourcelang=eng",
          "options": {
            "response": {
              "response": {
                "responseFormat": "text"
              }
            }
          }
        },
        "id": "http1",
        "name": "GDELT Events",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          220,
          0
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000,
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "let rawData = $input.first().json;\nlet data;\ntry {\n  const text = typeof rawData === \"string\" ? rawData : (rawData.data || JSON.stringify(rawData));\n  if (typeof text === \"string\" && text.includes(\"limit requests\")) return [{ json: { skip: true, events: [], reason: \"rate_limited\" } }];\n  data = typeof text === \"string\" ? JSON.parse(text) : rawData;\n} catch(e) {\n  return [{ json: { skip: true, events: [], reason: \"parse_error\" } }];\n}\nconst articles = data.articles || [];\nif (!articles.length) return [{ json: { skip: true, events: [] } }];\n\n// Keyword impact mapping\nconst impactMap = {\n  'sanctions': { impact: 'high', type: 'sanctions', assets: ['GOLD','OIL','USD'] },\n  'tariff': { impact: 'high', type: 'trade_war', assets: ['SPY','COPPER','USD'] },\n  'trade war': { impact: 'high', type: 'trade_war', assets: ['SPY','COPPER','GOLD'] },\n  'OPEC': { impact: 'high', type: 'policy_change', assets: ['OIL','NATGAS'] },\n  'interest rate': { impact: 'medium', type: 'policy_change', assets: ['GOLD','TLT','USD'] },\n  'central bank': { impact: 'medium', type: 'policy_change', assets: ['GOLD','TLT','SPY'] },\n  'military': { impact: 'critical', type: 'conflict', assets: ['GOLD','OIL','USD'] },\n  'embargo': { impact: 'high', type: 'sanctions', assets: ['OIL','NATGAS','GOLD'] },\n  'nuclear': { impact: 'critical', type: 'conflict', assets: ['GOLD','OIL','USD'] },\n  'invasion': { impact: 'critical', type: 'conflict', assets: ['GOLD','OIL','NATGAS'] }\n};\n\nconst events = [];\nconst seen = new Set();\n\nfor (const art of articles) {\n  const title = (art.title || '').toLowerCase();\n  if (seen.has(title)) continue;\n  seen.add(title);\n  \n  let bestMatch = { impact: 'low', type: 'general', assets: [] };\n  for (const [keyword, info] of Object.entries(impactMap)) {\n    if (title.includes(keyword.toLowerCase())) {\n      if (['critical','high'].includes(info.impact)) {\n        bestMatch = info;\n        break;\n      }\n      if (info.impact === 'medium' && bestMatch.impact === 'low') bestMatch = info;\n    }\n  }\n  \n  // Simple sentiment from tone\n  const tone = parseFloat(art.tone) || 0;\n  const sentiment = Math.round(Math.max(-100, Math.min(100, tone * 10)));\n  \n  events.push({\n    event_type: bestMatch.type,\n    description: art.title || 'No title',\n    sentiment_score: sentiment,\n    affected_assets: bestMatch.assets,\n    source: 'gdelt',\n    impact_level: bestMatch.impact\n  });\n}\n\n// Filter: only medium+ impact\nconst significant = events.filter(e => e.impact_level !== 'low');\n\nreturn [{ json: { events: significant, total: articles.length, significant_count: significant.length, skip: significant.length === 0 } }];"
        },
        "id": "code1",
        "name": "Analyze Events",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "has-events",
                "leftValue": "={{ $json.skip }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "false"
                }
              }
            ]
          }
        },
        "id": "if1",
        "name": "Has Significant Events?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          660,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $('Analyze Events').first().json;\nconst events = data.events || [];\nconst results = [];\nfor (const e of events) {\n  results.push({ json: { ...e, affected_assets: `{${e.affected_assets.join(',')}}`, timestamp: new Date().toISOString() } });\n}\nreturn results;"
        },
        "id": "code2",
        "name": "Prepare for DB",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          -50
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO geopolitical_events (event_type, description, sentiment_score, affected_assets, source, impact_level, timestamp) VALUES ($1, $2, $3, $4::text[], $5, $6, $7);",
          "options": {
            "queryReplacement": "={{ [$json.event_type, $json.description, $json.sentiment_score, $json.affected_assets, $json.source, $json.impact_level, $json.timestamp] }}"
          }
        },
        "id": "pg1",
        "name": "Save Events",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1100,
          -50
        ],
        "credentials": {
          "postgres": {
            "id": "TradingPostgres1",
            "name": "Trading Postgres"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const data = $('Analyze Events').first().json;\nconst critical = data.events.filter(e => e.impact_level === 'critical' || e.impact_level === 'high');\nif (!critical.length) return [{ json: { skip: true } }];\n\nconst lines = critical.slice(0, 5).map(e => {\n  const emoji = e.impact_level === 'critical' ? '\\ud83d\\udea8' : '\\u26a0\\ufe0f';\n  return `${emoji} *${e.event_type.toUpperCase()}*\\n${e.description}\\nAffects: ${e.affected_assets.join(', ')} | Sentiment: ${e.sentiment_score}`;\n}).join('\\n\\n');\n\nreturn [{ json: { message: `\\ud83c\\udf0d *Geopolitical Alert*\\n\\n${lines}`, skip: false } }];"
        },
        "id": "code3",
        "name": "Format Alert",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          100
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "alert-needed",
                "leftValue": "={{ $json.skip }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "false"
                }
              }
            ]
          }
        },
        "id": "if2",
        "name": "Alert Needed?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1320,
          100
        ]
      },
      {
        "parameters": {
          "chatId": "804465999",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "parse_mode": "Markdown"
          }
        },
        "id": "tg1",
        "name": "Send Alert",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1540,
          50
        ],
        "credentials": {
          "telegramApi": {
            "id": "TradingTelegramBot",
            "name": "Trading Bot"
          }
        },
        "webhookId": "37541ecf-940a-4bdd-bc32-59f7dd1760bb"
      }
    ],
    "connections": {
      "Every 2h": {
        "main": [
          [
            {
              "node": "GDELT Events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GDELT Events": {
        "main": [
          [
            {
              "node": "Analyze Events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze Events": {
        "main": [
          [
            {
              "node": "Has Significant Events?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Significant Events?": {
        "main": [
          [
            {
              "node": "Prepare for DB",
              "type": "main",
              "index": 0
            },
            {
              "node": "Format Alert",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Prepare for DB": {
        "main": [
          [
            {
              "node": "Save Events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Alert": {
        "main": [
          [
            {
              "node": "Alert Needed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Alert Needed?": {
        "main": [
          [
            {
              "node": "Send Alert",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      }
    },
    "authors": "Maksim Parve",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-25T13:05:00.220Z",
        "id": 875,
        "workflowId": "u4l0b51U78Mna1NG",
        "versionId": "d3fdb36c-9ff4-49cd-a89a-2b8e7bc951c6",
        "event": "deactivated",
        "userId": "3462e3d2-f46b-4d98-acea-93ac07713bf5"
      },
      {
        "createdAt": "2026-04-25T13:05:00.233Z",
        "id": 876,
        "workflowId": "u4l0b51U78Mna1NG",
        "versionId": "d3fdb36c-9ff4-49cd-a89a-2b8e7bc951c6",
        "event": "activated",
        "userId": "3462e3d2-f46b-4d98-acea-93ac07713bf5"
      }
    ]
  }
}