logs/rollback/W3xd7UV5xHB6rDB6-2026-05-05T06-54-38-454Z.json
{
  "updatedAt": "2026-04-25T10:19:21.935Z",
  "createdAt": "2026-04-22T07:27:33.465Z",
  "id": "W3xd7UV5xHB6rDB6",
  "name": "Trading: TechnicalAgent (Phase 2)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "schedule",
      "name": "Every 2 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      }
    },
    {
      "id": "fetch-events",
      "name": "Claim pending technical events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "TradingPostgres1",
          "name": "Trading Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE events SET status='processing'\n                WHERE id IN (\n                    SELECT id FROM events\n                    WHERE type='technical' AND status='pending'\n                    ORDER BY ts ASC\n                    LIMIT 1\n                    FOR UPDATE SKIP LOCKED\n                )\n                RETURNING id AS event_id, ts, source, instrument, payload;",
        "options": {}
      }
    },
    {
      "id": "build-query",
      "name": "Build RAG query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ev = $json;\nconst p = ev.payload || {};\nconst parts = [\n  'price action',\n  p.action || p.direction || '',\n  p.strategy || p.alert_name || '',\n  ev.instrument || p.ticker || '',\n  p.timeframe || p.interval || '',\n  p.price ? 'price ' + p.price : '',\n  p.sl ? 'stop ' + p.sl : '',\n  p.tp ? 'target ' + p.tp : ''\n];\nconst q = parts.filter(Boolean).join(' ').trim();\nconst sym = (ev.instrument || p.ticker || '').toUpperCase();\nconst isCrypto = /USDT$|USDC$|BUSD$/.test(sym);\nconst priceUrl = isCrypto\n  ? 'https://api.bybit.com/v5/market/tickers?category=spot&symbol=' + sym\n  : 'https://query1.finance.yahoo.com/v8/finance/chart/' + encodeURIComponent(sym) + '?interval=1m&range=1d';\nreturn { json: { ...ev, rag_query: q.slice(0, 500), _price_url: priceUrl, _price_source_type: isCrypto ? 'bybit' : 'yahoo' } };"
      }
    },
    {
      "id": "embed",
      "name": "Gemini Embed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"models/gemini-embedding-001\", \"content\": {\"parts\":[{\"text\": {{ JSON.stringify($json.rag_query) }} }]}, \"outputDimensionality\": 768, \"taskType\": \"RETRIEVAL_QUERY\" }",
        "options": {
          "timeout": 20000
        }
      }
    },
    {
      "id": "vec-search",
      "name": "Vector Search Knowledge",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "TradingPostgres1",
          "name": "Trading Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT event_id, event_instrument, event_payload, book_slug, chunk_idx, title, content, score FROM (\n                    SELECT '{{ $('Merge Price').first().json.event_id }}'::uuid AS event_id,\n                           '{{ $('Merge Price').first().json.instrument || '' }}' AS event_instrument,\n                           '{{ JSON.stringify($('Merge Price').first().json.payload) }}'::jsonb AS event_payload\n                ) ev\n                CROSS JOIN LATERAL search_knowledge(('[' || '{{ $json.embedding.values.join(',') }}' || ']')::vector, 3);",
        "options": {}
      }
    },
    {
      "id": "build-prompt",
      "name": "Build Gemini Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst event = $('Merge Price').first().json;\nconst chunks = items.map(i => i.json).filter(c => c.content);\n\nconst contextBlocks = chunks.slice(0, 3).map((c, i) =>\n  `[${i + 1}] ${c.book_slug}/${c.chunk_idx} (score=${Number(c.score).toFixed(2)})\\n${c.content}`\n).join('\\n\\n---\\n\\n');\n\nconst systemPrompt = `You are TechnicalAgent, a specialist trading analyst focused on price action + market structure. Input: a technical event (TradingView alert or price pattern trigger). Output: ONE structured trade signal JSON — or {\"skip\": true, \"reason\": \"...\"} if no actionable setup.\n\nMANDATORY CHECKS (in order):\n1. If payload.price_source == \"payload\" AND payload.live_price is null → skip with reason \"no live price source for \" + instrument\n2. If payload.live_price exists AND |payload.price_delta_pct| > 2 → skip with reason \"stale event: payload price \" + payload.payload_price + \" differs from live \" + payload.live_price + \" by \" + payload.price_delta_pct + \"%\"\n3. Otherwise use payload.live_price as the authoritative current price for entry/SL/TP reasoning\n\nApply in order of priority:\n- Wyckoff phases: identify accumulation / distribution / markup / markdown — label current phase and key event (spring, upthrust, SOS, SOW)\n- Elder triple screen: HTF trend → MTF oscillator → LTF entry\n- Al Brooks price action: trend bar, pullback depth, breakout quality\n- Van Tharp R-multiple: stop >= 1R beyond structure, target >= 2R\n- Taleb convexity: reject capped upside + open downside\n\nSignal schema — return ONLY this JSON:\n{\n  \"instrument\": \"string\",\n  \"timeframe\": \"15m|1H|4H|1D|...\",\n  \"bias\": \"long|short|flat\",\n  \"confidence\": 0.0-1.0,\n  \"entry\": number|null,\n  \"sl\": number|null,\n  \"tp\": [number]|null,\n  \"r_multiple\": number|null,\n  \"rationale\": \"one sentence: phase + trigger + structure + live_price reference\",\n  \"knowledge_refs\": [\"book_slug/chunk_idx\", ...],\n  \"strategy_tag\": \"wyckoff-spring|elder-triple|brooks-trend-pullback|...\"\n}\nOr: {\"skip\": true, \"reason\": \"no setup\" | \"stale event...\" | \"no live price...\"}`;\n\nconst userPrompt = `TECHNICAL EVENT\nsource: ${event.source}\ninstrument: ${event.instrument || 'n/a'}\npayload: ${JSON.stringify(event.payload)}\n\nRETRIEVED KNOWLEDGE\n${contextBlocks}\n\nOutput the signal JSON now.`;\n\nreturn [{\n  json: {\n    event_id: event.event_id,\n    event_instrument: event.instrument,\n    event_payload: event.payload,\n    systemPrompt,\n    userPrompt,\n    knowledge_refs: chunks.slice(0, 3).map(c => `${c.book_slug}/${c.chunk_idx}`)\n  }\n}];\n"
      }
    },
    {
      "id": "generate",
      "name": "Gemini Generate Signal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"contents\": [{\"role\":\"user\",\"parts\":[{\"text\": {{ JSON.stringify($json.userPrompt) }} }]}], \"systemInstruction\": {\"parts\":[{\"text\": {{ JSON.stringify($json.systemPrompt) }} }]}, \"generationConfig\": {\"temperature\": 0.3, \"maxOutputTokens\": 1500, \"responseMimeType\": \"application/json\", \"thinkingConfig\": {\"thinkingBudget\": 0}} }",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "merge-ctx",
      "name": "Attach context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst ctx = $('Build Gemini Prompt').first().json;\nconst resp = items[0].json;\nreturn [{ json: { ...resp, event_id: ctx.event_id, event_payload: ctx.event_payload, knowledge_refs: ctx.knowledge_refs } }];\n"
      }
    },
    {
      "id": "parse",
      "name": "Parse Signal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst resp = items[0].json;\nlet text = '';\ntry { text = resp.candidates[0].content.parts[0].text; }\ncatch (e) { return [{ json: { skip: true, reason: 'no candidates', event_id: resp.event_id } }]; }\n\ntext = text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim();\n\nlet signal;\ntry { signal = JSON.parse(text); }\ncatch (e) { return [{ json: { skip: true, reason: 'parse fail: ' + text.slice(0,100), event_id: resp.event_id } }]; }\n\nif (signal.skip) {\n  return [{ json: { skip: true, reason: signal.reason, event_id: resp.event_id } }];\n}\n\nconst required = ['instrument', 'timeframe', 'bias', 'confidence'];\nfor (const k of required) {\n  if (!(k in signal)) return [{ json: { skip: true, reason: 'missing ' + k, event_id: resp.event_id } }];\n}\n\nconst effective_refs = (signal.knowledge_refs && signal.knowledge_refs.length ? signal.knowledge_refs : (resp.knowledge_refs || []));\n\n\nreturn [{\n    json: {\n      skip: false,\n    event_id: resp.event_id,\n    instrument: signal.instrument,\n    timeframe: signal.timeframe,\n    bias: signal.bias,\n    confidence: Number(signal.confidence),\n    entry: signal.entry ?? null,\n    sl: signal.sl ?? null,\n    tp: signal.tp || null,\n    r_multiple: signal.r_multiple ?? null,\n    rationale: { technical: signal.rationale || '' },\n    knowledge_refs: effective_refs,\n    strategy_tag: signal.strategy_tag || 'technical',\n    telegram_text: `[TECH] ${signal.bias === 'long' ? 'LONG' : signal.bias === 'short' ? 'SHORT' : 'FLAT'} ${signal.instrument} ${signal.timeframe}\nconfidence: ${Number(signal.confidence).toFixed(2)}\nentry: ${signal.entry ?? '-'} sl: ${signal.sl ?? '-'} tp: ${JSON.stringify(signal.tp) || '-'}\nwhy: ${signal.rationale || ''}\nrefs: ${effective_refs.join(', ')}`\n  }\n}];\n"
      }
    },
    {
      "id": "if-signal",
      "name": "Is signal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1980,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "insert-signal",
      "name": "Insert signals_v2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2200,
        -120
      ],
      "credentials": {
        "postgres": {
          "id": "TradingPostgres1",
          "name": "Trading Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO signals_v2 (instrument, timeframe, bias, confidence, entry, sl, tp, r_multiple, agents_fired, rationale, knowledge_refs, strategy_tag)\n                VALUES ('{{ $json.instrument }}',\n                        '{{ $json.timeframe }}',\n                        '{{ $json.bias }}',\n                        {{ $json.confidence }},\n                        {{ $json.entry === null ? 'NULL' : $json.entry }},\n                        {{ $json.sl === null ? 'NULL' : $json.sl }},\n                        {{ $json.tp === null ? 'NULL' : \"ARRAY[\" + $json.tp.join(',') + \"]::numeric[]\" }},\n                        {{ $json.r_multiple === null ? 'NULL' : $json.r_multiple }},\n                        ARRAY['TechnicalAgent']::text[],\n                        '{{ JSON.stringify($json.rationale).replace(/'/g, \"''\") }}'::jsonb,\n                        ARRAY[{{ ($json.knowledge_refs || []).map(r => \"'\" + r.replace(/'/g, \"''\") + \"'\").join(',') }}]::text[],\n                        '{{ $json.strategy_tag }}')\n                RETURNING id, ts;",
        "options": {}
      }
    },
    {
      "id": "alert",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2420,
        -120
      ],
      "credentials": {
        "telegramApi": {
          "id": "TradingTelegramBot",
          "name": "Trading Bot"
        }
      },
      "parameters": {
        "chatId": "804465999",
        "text": "={{ $('Parse Signal').first().json.telegram_text }}",
        "additionalFields": {}
      },
      "webhookId": "35b9ea3d-64b3-4692-9255-56be3df8b39a"
    },
    {
      "id": "mark-processed",
      "name": "Mark event processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2640,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "TradingPostgres1",
          "name": "Trading Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE events SET status='processed', processed_at=now()\n                WHERE id='{{ $('Parse Signal').first().json.event_id }}';",
        "options": {}
      }
    },
    {
      "id": "mark-skipped",
      "name": "Mark event skipped",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2200,
        120
      ],
      "credentials": {
        "postgres": {
          "id": "TradingPostgres1",
          "name": "Trading Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE events SET status='processed', processed_at=now(),\n                       error='skipped: {{ $json.reason.replace(/'/g, \"''\") }}'\n                WHERE id='{{ $json.event_id }}';",
        "options": {}
      }
    },
    {
      "id": "has-events-gate",
      "name": "Has events?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        330,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-ev",
              "leftValue": "={{ $json.event_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "fetch-live-price",
      "name": "Fetch Live Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        550,
        100
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json._price_url }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "merge-price",
      "name": "Merge Price",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rag = $('Build RAG query').first().json;\nconst resp = items[0].json;\nconst sourceType = rag._price_source_type;\n\nlet livePrice = null, priceSource = 'payload';\ntry {\n  if (sourceType === 'bybit' && resp?.result?.list?.[0]?.lastPrice) {\n    livePrice = parseFloat(resp.result.list[0].lastPrice);\n    priceSource = 'bybit';\n  } else if (sourceType === 'yahoo') {\n    const meta = resp?.chart?.result?.[0]?.meta;\n    livePrice = meta?.regularMarketPrice ?? null;\n    priceSource = livePrice != null ? 'yahoo' : 'payload';\n  }\n} catch (e) {}\n\nconst payloadPrice = parseFloat(rag.payload?.price ?? rag.payload?.close ?? 0) || null;\nlet priceDeltaPct = null;\nif (livePrice != null && payloadPrice != null && payloadPrice > 0) {\n  priceDeltaPct = ((payloadPrice - livePrice) / livePrice) * 100;\n}\n\nconst enrichedPayload = {\n  ...(rag.payload || {}),\n  live_price: livePrice,\n  payload_price: payloadPrice,\n  price_delta_pct: priceDeltaPct,\n  price_source: priceSource\n};\n\nreturn [{\n  json: {\n    event_id: rag.event_id,\n    ts: rag.ts,\n    source: rag.source,\n    instrument: rag.instrument,\n    payload: enrichedPayload,\n    rag_query: rag.rag_query\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Every 2 min": {
      "main": [
        [
          {
            "node": "Claim pending technical events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim pending technical events": {
      "main": [
        [
          {
            "node": "Has events?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build RAG query": {
      "main": [
        [
          {
            "node": "Fetch Live Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Embed": {
      "main": [
        [
          {
            "node": "Vector Search Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Search Knowledge": {
      "main": [
        [
          {
            "node": "Build Gemini Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Prompt": {
      "main": [
        [
          {
            "node": "Gemini Generate Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Generate Signal": {
      "main": [
        [
          {
            "node": "Attach context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach context": {
      "main": [
        [
          {
            "node": "Parse Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Signal": {
      "main": [
        [
          {
            "node": "Is signal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is signal?": {
      "main": [
        [
          {
            "node": "Insert signals_v2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark event skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert signals_v2": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Alert": {
      "main": [
        [
          {
            "node": "Mark event processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has events?": {
      "main": [
        [
          {
            "node": "Build RAG query",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Live Price": {
      "main": [
        [
          {
            "node": "Merge Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Price": {
      "main": [
        [
          {
            "node": "Gemini Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "mzrUOgpYW8OVSWGl"
  },
  "staticData": {
    "node:Every 2 min": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "bba4989d-1f21-4ff9-ba22-4823d924469a",
  "activeVersionId": "bba4989d-1f21-4ff9-ba22-4823d924469a",
  "versionCounter": 38,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-22T07:27:33.465Z",
      "createdAt": "2026-04-22T07:27:33.465Z",
      "role": "workflow:owner",
      "workflowId": "W3xd7UV5xHB6rDB6",
      "projectId": "PufDuNtXpreUjA3o",
      "project": {
        "updatedAt": "2025-12-05T21:25:37.247Z",
        "createdAt": "2025-11-04T19:43:55.674Z",
        "id": "PufDuNtXpreUjA3o",
        "name": "Maksim Parve <maksim@studiokook.ee>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "3462e3d2-f46b-4d98-acea-93ac07713bf5"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-22T18:37:41.087Z",
    "createdAt": "2026-04-22T18:37:41.087Z",
    "versionId": "bba4989d-1f21-4ff9-ba22-4823d924469a",
    "workflowId": "W3xd7UV5xHB6rDB6",
    "nodes": [
      {
        "id": "schedule",
        "name": "Every 2 min",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 2
              }
            ]
          }
        }
      },
      {
        "id": "fetch-events",
        "name": "Claim pending technical events",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          220,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "TradingPostgres1",
            "name": "Trading Postgres"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE events SET status='processing'\n                WHERE id IN (\n                    SELECT id FROM events\n                    WHERE type='technical' AND status='pending'\n                    ORDER BY ts ASC\n                    LIMIT 1\n                    FOR UPDATE SKIP LOCKED\n                )\n                RETURNING id AS event_id, ts, source, instrument, payload;",
          "options": {}
        }
      },
      {
        "id": "build-query",
        "name": "Build RAG query",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          0
        ],
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const ev = $json;\nconst p = ev.payload || {};\nconst parts = [\n  'price action',\n  p.action || p.direction || '',\n  p.strategy || p.alert_name || '',\n  ev.instrument || p.ticker || '',\n  p.timeframe || p.interval || '',\n  p.price ? 'price ' + p.price : '',\n  p.sl ? 'stop ' + p.sl : '',\n  p.tp ? 'target ' + p.tp : ''\n];\nconst q = parts.filter(Boolean).join(' ').trim();\nconst sym = (ev.instrument || p.ticker || '').toUpperCase();\nconst isCrypto = /USDT$|USDC$|BUSD$/.test(sym);\nconst priceUrl = isCrypto\n  ? 'https://api.bybit.com/v5/market/tickers?category=spot&symbol=' + sym\n  : 'https://query1.finance.yahoo.com/v8/finance/chart/' + encodeURIComponent(sym) + '?interval=1m&range=1d';\nreturn { json: { ...ev, rag_query: q.slice(0, 500), _price_url: priceUrl, _price_source_type: isCrypto ? 'bybit' : 'yahoo' } };"
        }
      },
      {
        "id": "embed",
        "name": "Gemini Embed",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          660,
          0
        ],
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "key",
                "value": "={{ $env.GEMINI_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={ \"model\": \"models/gemini-embedding-001\", \"content\": {\"parts\":[{\"text\": {{ JSON.stringify($json.rag_query) }} }]}, \"outputDimensionality\": 768, \"taskType\": \"RETRIEVAL_QUERY\" }",
          "options": {
            "timeout": 20000
          }
        }
      },
      {
        "id": "vec-search",
        "name": "Vector Search Knowledge",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          880,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "TradingPostgres1",
            "name": "Trading Postgres"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT event_id, event_instrument, event_payload, book_slug, chunk_idx, title, content, score FROM (\n                    SELECT '{{ $('Merge Price').first().json.event_id }}'::uuid AS event_id,\n                           '{{ $('Merge Price').first().json.instrument || '' }}' AS event_instrument,\n                           '{{ JSON.stringify($('Merge Price').first().json.payload) }}'::jsonb AS event_payload\n                ) ev\n                CROSS JOIN LATERAL search_knowledge(('[' || '{{ $json.embedding.values.join(',') }}' || ']')::vector, 3);",
          "options": {}
        }
      },
      {
        "id": "build-prompt",
        "name": "Build Gemini Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          0
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconst event = $('Merge Price').first().json;\nconst chunks = items.map(i => i.json).filter(c => c.content);\n\nconst contextBlocks = chunks.slice(0, 3).map((c, i) =>\n  `[${i + 1}] ${c.book_slug}/${c.chunk_idx} (score=${Number(c.score).toFixed(2)})\\n${c.content}`\n).join('\\n\\n---\\n\\n');\n\nconst systemPrompt = `You are TechnicalAgent, a specialist trading analyst focused on price action + market structure. Input: a technical event (TradingView alert or price pattern trigger). Output: ONE structured trade signal JSON — or {\"skip\": true, \"reason\": \"...\"} if no actionable setup.\n\nMANDATORY CHECKS (in order):\n1. If payload.price_source == \"payload\" AND payload.live_price is null → skip with reason \"no live price source for \" + instrument\n2. If payload.live_price exists AND |payload.price_delta_pct| > 2 → skip with reason \"stale event: payload price \" + payload.payload_price + \" differs from live \" + payload.live_price + \" by \" + payload.price_delta_pct + \"%\"\n3. Otherwise use payload.live_price as the authoritative current price for entry/SL/TP reasoning\n\nApply in order of priority:\n- Wyckoff phases: identify accumulation / distribution / markup / markdown — label current phase and key event (spring, upthrust, SOS, SOW)\n- Elder triple screen: HTF trend → MTF oscillator → LTF entry\n- Al Brooks price action: trend bar, pullback depth, breakout quality\n- Van Tharp R-multiple: stop >= 1R beyond structure, target >= 2R\n- Taleb convexity: reject capped upside + open downside\n\nSignal schema — return ONLY this JSON:\n{\n  \"instrument\": \"string\",\n  \"timeframe\": \"15m|1H|4H|1D|...\",\n  \"bias\": \"long|short|flat\",\n  \"confidence\": 0.0-1.0,\n  \"entry\": number|null,\n  \"sl\": number|null,\n  \"tp\": [number]|null,\n  \"r_multiple\": number|null,\n  \"rationale\": \"one sentence: phase + trigger + structure + live_price reference\",\n  \"knowledge_refs\": [\"book_slug/chunk_idx\", ...],\n  \"strategy_tag\": \"wyckoff-spring|elder-triple|brooks-trend-pullback|...\"\n}\nOr: {\"skip\": true, \"reason\": \"no setup\" | \"stale event...\" | \"no live price...\"}`;\n\nconst userPrompt = `TECHNICAL EVENT\nsource: ${event.source}\ninstrument: ${event.instrument || 'n/a'}\npayload: ${JSON.stringify(event.payload)}\n\nRETRIEVED KNOWLEDGE\n${contextBlocks}\n\nOutput the signal JSON now.`;\n\nreturn [{\n  json: {\n    event_id: event.event_id,\n    event_instrument: event.instrument,\n    event_payload: event.payload,\n    systemPrompt,\n    userPrompt,\n    knowledge_refs: chunks.slice(0, 3).map(c => `${c.book_slug}/${c.chunk_idx}`)\n  }\n}];\n"
        }
      },
      {
        "id": "generate",
        "name": "Gemini Generate Signal",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1320,
          0
        ],
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "key",
                "value": "={{ $env.GEMINI_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={ \"contents\": [{\"role\":\"user\",\"parts\":[{\"text\": {{ JSON.stringify($json.userPrompt) }} }]}], \"systemInstruction\": {\"parts\":[{\"text\": {{ JSON.stringify($json.systemPrompt) }} }]}, \"generationConfig\": {\"temperature\": 0.3, \"maxOutputTokens\": 1500, \"responseMimeType\": \"application/json\", \"thinkingConfig\": {\"thinkingBudget\": 0}} }",
          "options": {
            "timeout": 30000
          }
        }
      },
      {
        "id": "merge-ctx",
        "name": "Attach context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1540,
          0
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconst ctx = $('Build Gemini Prompt').first().json;\nconst resp = items[0].json;\nreturn [{ json: { ...resp, event_id: ctx.event_id, event_payload: ctx.event_payload, knowledge_refs: ctx.knowledge_refs } }];\n"
        }
      },
      {
        "id": "parse",
        "name": "Parse Signal",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1760,
          0
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconst resp = items[0].json;\nlet text = '';\ntry { text = resp.candidates[0].content.parts[0].text; }\ncatch (e) { return [{ json: { skip: true, reason: 'no candidates', event_id: resp.event_id } }]; }\n\ntext = text.replace(/```json\\s*/gi, '').replace(/```/g, '').trim();\n\nlet signal;\ntry { signal = JSON.parse(text); }\ncatch (e) { return [{ json: { skip: true, reason: 'parse fail: ' + text.slice(0,100), event_id: resp.event_id } }]; }\n\nif (signal.skip) {\n  return [{ json: { skip: true, reason: signal.reason, event_id: resp.event_id } }];\n}\n\nconst required = ['instrument', 'timeframe', 'bias', 'confidence'];\nfor (const k of required) {\n  if (!(k in signal)) return [{ json: { skip: true, reason: 'missing ' + k, event_id: resp.event_id } }];\n}\n\nconst effective_refs = (signal.knowledge_refs && signal.knowledge_refs.length ? signal.knowledge_refs : (resp.knowledge_refs || []));\n\n\nreturn [{\n    json: {\n      skip: false,\n    event_id: resp.event_id,\n    instrument: signal.instrument,\n    timeframe: signal.timeframe,\n    bias: signal.bias,\n    confidence: Number(signal.confidence),\n    entry: signal.entry ?? null,\n    sl: signal.sl ?? null,\n    tp: signal.tp || null,\n    r_multiple: signal.r_multiple ?? null,\n    rationale: { technical: signal.rationale || '' },\n    knowledge_refs: effective_refs,\n    strategy_tag: signal.strategy_tag || 'technical',\n    telegram_text: `[TECH] ${signal.bias === 'long' ? 'LONG' : signal.bias === 'short' ? 'SHORT' : 'FLAT'} ${signal.instrument} ${signal.timeframe}\nconfidence: ${Number(signal.confidence).toFixed(2)}\nentry: ${signal.entry ?? '-'} sl: ${signal.sl ?? '-'} tp: ${JSON.stringify(signal.tp) || '-'}\nwhy: ${signal.rationale || ''}\nrefs: ${effective_refs.join(', ')}`\n  }\n}];\n"
        }
      },
      {
        "id": "if-signal",
        "name": "Is signal?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1980,
          0
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.skip }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "insert-signal",
        "name": "Insert signals_v2",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2200,
          -120
        ],
        "credentials": {
          "postgres": {
            "id": "TradingPostgres1",
            "name": "Trading Postgres"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO signals_v2 (instrument, timeframe, bias, confidence, entry, sl, tp, r_multiple, agents_fired, rationale, knowledge_refs, strategy_tag)\n                VALUES ('{{ $json.instrument }}',\n                        '{{ $json.timeframe }}',\n                        '{{ $json.bias }}',\n                        {{ $json.confidence }},\n                        {{ $json.entry === null ? 'NULL' : $json.entry }},\n                        {{ $json.sl === null ? 'NULL' : $json.sl }},\n                        {{ $json.tp === null ? 'NULL' : \"ARRAY[\" + $json.tp.join(',') + \"]::numeric[]\" }},\n                        {{ $json.r_multiple === null ? 'NULL' : $json.r_multiple }},\n                        ARRAY['TechnicalAgent']::text[],\n                        '{{ JSON.stringify($json.rationale).replace(/'/g, \"''\") }}'::jsonb,\n                        ARRAY[{{ ($json.knowledge_refs || []).map(r => \"'\" + r.replace(/'/g, \"''\") + \"'\").join(',') }}]::text[],\n                        '{{ $json.strategy_tag }}')\n                RETURNING id, ts;",
          "options": {}
        }
      },
      {
        "id": "alert",
        "name": "Telegram Alert",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2420,
          -120
        ],
        "credentials": {
          "telegramApi": {
            "id": "TradingTelegramBot",
            "name": "Trading Bot"
          }
        },
        "parameters": {
          "chatId": "804465999",
          "text": "={{ $('Parse Signal').first().json.telegram_text }}",
          "additionalFields": {}
        },
        "webhookId": "35b9ea3d-64b3-4692-9255-56be3df8b39a"
      },
      {
        "id": "mark-processed",
        "name": "Mark event processed",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2640,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "TradingPostgres1",
            "name": "Trading Postgres"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE events SET status='processed', processed_at=now()\n                WHERE id='{{ $('Parse Signal').first().json.event_id }}';",
          "options": {}
        }
      },
      {
        "id": "mark-skipped",
        "name": "Mark event skipped",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2200,
          120
        ],
        "credentials": {
          "postgres": {
            "id": "TradingPostgres1",
            "name": "Trading Postgres"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE events SET status='processed', processed_at=now(),\n                       error='skipped: {{ $json.reason.replace(/'/g, \"''\") }}'\n                WHERE id='{{ $json.event_id }}';",
          "options": {}
        }
      },
      {
        "id": "has-events-gate",
        "name": "Has events?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          330,
          0
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "has-ev",
                "leftValue": "={{ $json.event_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "fetch-live-price",
        "name": "Fetch Live Price",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          550,
          100
        ],
        "parameters": {
          "method": "GET",
          "url": "={{ $json._price_url }}",
          "options": {
            "timeout": 10000,
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "merge-price",
        "name": "Merge Price",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          100
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const rag = $('Build RAG query').first().json;\nconst resp = items[0].json;\nconst sourceType = rag._price_source_type;\n\nlet livePrice = null, priceSource = 'payload';\ntry {\n  if (sourceType === 'bybit' && resp?.result?.list?.[0]?.lastPrice) {\n    livePrice = parseFloat(resp.result.list[0].lastPrice);\n    priceSource = 'bybit';\n  } else if (sourceType === 'yahoo') {\n    const meta = resp?.chart?.result?.[0]?.meta;\n    livePrice = meta?.regularMarketPrice ?? null;\n    priceSource = livePrice != null ? 'yahoo' : 'payload';\n  }\n} catch (e) {}\n\nconst payloadPrice = parseFloat(rag.payload?.price ?? rag.payload?.close ?? 0) || null;\nlet priceDeltaPct = null;\nif (livePrice != null && payloadPrice != null && payloadPrice > 0) {\n  priceDeltaPct = ((payloadPrice - livePrice) / livePrice) * 100;\n}\n\nconst enrichedPayload = {\n  ...(rag.payload || {}),\n  live_price: livePrice,\n  payload_price: payloadPrice,\n  price_delta_pct: priceDeltaPct,\n  price_source: priceSource\n};\n\nreturn [{\n  json: {\n    event_id: rag.event_id,\n    ts: rag.ts,\n    source: rag.source,\n    instrument: rag.instrument,\n    payload: enrichedPayload,\n    rag_query: rag.rag_query\n  }\n}];"
        }
      }
    ],
    "connections": {
      "Every 2 min": {
        "main": [
          [
            {
              "node": "Claim pending technical events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claim pending technical events": {
        "main": [
          [
            {
              "node": "Has events?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build RAG query": {
        "main": [
          [
            {
              "node": "Fetch Live Price",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Embed": {
        "main": [
          [
            {
              "node": "Vector Search Knowledge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Vector Search Knowledge": {
        "main": [
          [
            {
              "node": "Build Gemini Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Gemini Prompt": {
        "main": [
          [
            {
              "node": "Gemini Generate Signal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Generate Signal": {
        "main": [
          [
            {
              "node": "Attach context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Attach context": {
        "main": [
          [
            {
              "node": "Parse Signal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Signal": {
        "main": [
          [
            {
              "node": "Is signal?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is signal?": {
        "main": [
          [
            {
              "node": "Insert signals_v2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Mark event skipped",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert signals_v2": {
        "main": [
          [
            {
              "node": "Telegram Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Alert": {
        "main": [
          [
            {
              "node": "Mark event processed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has events?": {
        "main": [
          [
            {
              "node": "Build RAG query",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Fetch Live Price": {
        "main": [
          [
            {
              "node": "Merge Price",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Price": {
        "main": [
          [
            {
              "node": "Gemini Embed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Maksim Parve",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-22T18:37:41.119Z",
        "id": 646,
        "workflowId": "W3xd7UV5xHB6rDB6",
        "versionId": "bba4989d-1f21-4ff9-ba22-4823d924469a",
        "event": "deactivated",
        "userId": "3462e3d2-f46b-4d98-acea-93ac07713bf5"
      },
      {
        "createdAt": "2026-04-22T18:37:41.134Z",
        "id": 647,
        "workflowId": "W3xd7UV5xHB6rDB6",
        "versionId": "bba4989d-1f21-4ff9-ba22-4823d924469a",
        "event": "activated",
        "userId": "3462e3d2-f46b-4d98-acea-93ac07713bf5"
      },
      {
        "createdAt": "2026-04-25T10:19:21.964Z",
        "id": 854,
        "workflowId": "W3xd7UV5xHB6rDB6",
        "versionId": "bba4989d-1f21-4ff9-ba22-4823d924469a",
        "event": "deactivated",
        "userId": "3462e3d2-f46b-4d98-acea-93ac07713bf5"
      },
      {
        "createdAt": "2026-04-25T10:19:21.975Z",
        "id": 855,
        "workflowId": "W3xd7UV5xHB6rDB6",
        "versionId": "bba4989d-1f21-4ff9-ba22-4823d924469a",
        "event": "activated",
        "userId": "3462e3d2-f46b-4d98-acea-93ac07713bf5"
      }
    ]
  }
}