n8n/prod/seo_audit_weekly.json
{
  "name": "SEO Audit Weekly",
  "nodes": [
    {
      "id": "trigger",
      "name": "Weekly Monday 10AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weekInterval": 1,
              "triggerAtDay": ["monday"],
              "triggerAtHour": 10,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "pages",
      "name": "Site Pages",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": true,
        "assignments": {
          "assignments": [
            {"id": "url1", "name": "url", "value": "https://studiokook.ee", "type": "string"},
            {"id": "url2", "name": "url", "value": "https://studiokook.ee/koogid", "type": "string"},
            {"id": "url3", "name": "url", "value": "https://studiokook.ee/kontakt", "type": "string"}
          ]
        }
      }
    },
    {
      "id": "audit",
      "name": "SEO Audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8100/seo/audit",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({url: $json.url}) }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "check",
      "name": "Critical Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [850, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.score }}",
              "rightValue": "70",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "telegram",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1050, 200],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "",
        "text": "=SEO Alert: {{ $json.url }}\nScore: {{ $json.score }}/100\n\nIssues:\n{{ $json.issues.map(i => '- [' + i.severity + '] ' + i.message).join('\\n') }}\n\nRecommendations:\n{{ $json.recommendations.map((r,i) => (i+1) + '. ' + r).join('\\n') }}",
        "additionalFields": {}
      }
    }
  ],
  "connections": {
    "Weekly Monday 10AM": {
      "main": [[{"node": "Site Pages", "type": "main", "index": 0}]]
    },
    "Site Pages": {
      "main": [[{"node": "SEO Audit", "type": "main", "index": 0}]]
    },
    "SEO Audit": {
      "main": [[{"node": "Critical Issues?", "type": "main", "index": 0}]]
    },
    "Critical Issues?": {
      "main": [
        [{"node": "Telegram Alert", "type": "main", "index": 0}],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
