n8n-hub/templates/supabase-logger.json
{
  "name": "Template: Supabase Logger",
  "meta": {
    "description": "Universal logging to Supabase with structured data",
    "version": "1.0.0",
    "author": "Claude Router"
  },
  "nodes": [
    {
      "id": "input",
      "name": "Input Data",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {}
    },
    {
      "id": "prepare_log",
      "name": "Prepare Log Entry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "project",
              "name": "project",
              "value": "={{$parameter.project || 'unknown'}}",
              "type": "string"
            },
            {
              "id": "event_type",
              "name": "event_type",
              "value": "={{$parameter.event_type || 'log'}}",
              "type": "string"
            },
            {
              "id": "payload",
              "name": "payload",
              "value": "={{JSON.stringify($json)}}",
              "type": "string"
            },
            {
              "id": "created_at",
              "name": "created_at",
              "value": "={{new Date().toISOString()}}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "supabase_insert",
      "name": "Insert to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 300],
      "parameters": {
        "operation": "insert",
        "tableId": "logs",
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "project", "fieldValue": "={{ $json.project }}" },
            { "fieldName": "event_type", "fieldValue": "={{ $json.event_type }}" },
            { "fieldName": "payload", "fieldValue": "={{ $json.payload }}" },
            { "fieldName": "created_at", "fieldValue": "={{ $json.created_at }}" }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "{{SUPABASE_CREDENTIAL_ID}}",
          "name": "Supabase"
        }
      }
    }
  ],
  "connections": {
    "Input Data": {
      "main": [[{ "node": "Prepare Log Entry", "type": "main", "index": 0 }]]
    },
    "Prepare Log Entry": {
      "main": [[{ "node": "Insert to Supabase", "type": "main", "index": 0 }]]
    }
  }
}
